﻿<!DOCTYPE html>
<html lang="en">
<head>
<style>
	html, body {
		height: 100%;
		overflow: hidden;
	}
	
	.wk {
		height: 20%;
	}
	
	.day {
		font-size: 16px;
		background-color: #f5f5f5;
		text-align: center;
		height: 100%;
		width: 14.285714285714285714285714285714%;
		display: inline-block;
	}
	
	.item {
		width: 80%;
		height: 80%;
		margin-top: 6%;
		background-color: #fff;
		display: inline-block;
		border: 1px solid black;
	}
	
	#cal {
		font-size: 0;
		height: 100%;
		white-space: nowrap;
	}
	
</style>
</head>
<body>
@{var startDate = 1;} <!-- this variable defines the first day of the week by "pushing" the 1st across, monday is 1, tuesday is 0... -->
<div id="cal">
@for (int i = 0; i < 5; i++) {
	<div class="wk">
	@for (int j = startDate; j <= 7; j++) {
		var date = i*7+j;
		<div class="day"><div class="item">@date<br><button class="btn btn-default">32</button></div></div>
	}
	</div>
}
</div>
</body>
</html>