@{	
	if (IsPost) { //If form data is filled in
		string Name = Request["name"]; 
        int isFollowUp = int.Parse(Request["isFollowUp"]); 
		
		string[] SAs=Request["SAs"].Split(',');
		string[] PKPAs=Request["PKPAs"].Split(',');
		string[] CKPAs=Request["CKPAs"].Split(',');
	
		var db = Database.Open("eScorecard");
		
		var sql="SELECT ID FROM Employees WHERE Username='"+Session["username"]+"'";
		var result=db.Query(sql);
		sql="INSERT INTO AuditTemplates (Name, DateCreated, CreatorID, isFollowUp) VALUES ('"+Name+"',GETDATE(),"+result.First().ID+","+isFollowUp+")";
		db.Query(sql);
		
		sql="SELECT IDENT_CURRENT('AuditTemplates') AS ID";
		result=db.Query(sql);
		
		var ID=result.First().ID;
		
		for(int i=0;i<SAs.Length;i+=1){
			sql="INSERT INTO AuditFields (Audit, ServiceArea, ParentKPA, ChildKPA) VALUES ('"+ID+"','"+SAs[i]+"','"+PKPAs[i]+"','"+CKPAs[i]+"')";
			db.Query(sql);
		}
		
		<html>
			<div id=reply>Your Audit has been saved.</div>
			<script>
				window.setTimeout(window.top.close(),5000);
			</script>
		</html>
	}
    else { //no form data is filled in
		
		var db = Database.Open("eScorecard");
		
		var selectQueryString = "SELECT * FROM ServiceAreaTemplates"; 
		var SATemplateData = db.Query(selectQueryString);
		
		selectQueryString = "SELECT * FROM KPATemplates WHERE isParent=1"; 
		var PKPATemplateData = db.Query(selectQueryString);
		
		selectQueryString = "SELECT * FROM KPATemplates WHERE isParent=0"; 
		var CKPATemplateData = db.Query(selectQueryString);
		
		selectQueryString = "SELECT * FROM KPITemplates"; 
		var KPITemplateData = db.Query(selectQueryString);
		
		<html>
		
			<head>
				@RenderPage("~/shared/_includes.cshtml")
				@RenderPage("~/shared/_check_login.cshtml")
				<link rel="stylesheet" type="text/css" href="~/styles/createAudit.css">
				
				<script>
					
					addedSAs=[];
					
					function addSA(id){
						if(id){
							$("#saList").append("<tr><td class=SA data-id="+id+"><span class=\"glyphicon glyphicon-chevron-down expandList\"></span> "
								+SAs[id][1]+"</td>"
								+"<td><input class=checkItem type=\"checkbox\" -data-id="+id+"></input> Include Whole Service Area <span class='glyphicon glyphicon-trash delete'></span></td></tr>");
								
							SAs[id][2].forEach(function(pkpa) {
								addPKPA(pkpa);
							});
							$("select option[value='"+id+"']").prop('disabled',true);
							$("#SAmenu").prop('selectedIndex', 0);
							$(".SA").eq($(".SA").length-1).next().children().eq(0).click();
						}
					}
					
					function addPKPA(pkpa){
                        var id=pkpa[0];
						$("#saList").append("<tr><td class=PKPA data-id="+id+"><span class=\"glyphicon glyphicon-chevron-down expandList\"></span> "
							+pkpa[1]+"</input></td>"
							+"<td><input class='checkItem PKPAcheck' type=\"checkbox\" -data-id="+id+"></input> Include Whole PKPA</td>");
						
						pkpa[2].forEach(function(ckpa) {
							addCKPA(ckpa);
						});
					}
					
					function addCKPA(ckpa){
                        var id=ckpa[0];
						$("#saList").append("<tr><td class=CKPA data-id="+id+">"
							+ckpa[1]+"</input></td>"
							+"<td><input class='checkItem CKPAcheck' type=\"checkbox\" -data-id="+id+"></input> Include CKPA</td></tr>");
					}
					
					function del(item){
						$("select option[value='"+item.children().eq(0).data("id")+"']").prop('disabled',false);
						kids=findChildren(item);
						for(kid in kids){
							$(kids[kid]).remove();
						}
						$(item).remove();
					}
					
					function findParents(item){
						console.log("start");
						it=$(item.prev());
						arr=[];
						try {
							if(item.children()[0].className=="PKPA"){
								while(it.children()[0].className!="SA" && it.is("tr")){
									console.log(it);
									it=$(it.prev());
								}
								arr.push(it);
							} else if(item.children()[0].className=="CKPA"){
								while(it.children()[0].className!="PKPA" && it.is("tr")){
									console.log(it);
									it=$(it.prev());
								}
								arr.push(it);
								
								while(it.children()[0].className!="SA" && it.is("tr")){
									console.log(it);
									it=$(it.prev());
								}
								arr.push(it);
							}
						} catch (err){}
						
						return(arr);
					}
					
					function findChildren(item){
						it=$(item.next());
						arr=[];
						try {
							if(item.children()[0].className=="PKPA"){
								while(it.children()[0].className=="CKPA" && it.is("tr")){
									arr.push(it);
									it=$(it.next());
								}
							} else if(item.children()[0].className=="SA"){
								while(it.children()[0].className=="CKPA" || it.children()[0].className=="PKPA" && it.is("tr")){
									arr.push(it);
									it=$(it.next());
								}
							}
						} catch (err){}
						
						return(arr);
					}
					
					function checkTicks(item){
						children=findChildren(item);
						
						count=0
						for(child in children){
							if(children[child].children().eq(1).children()[0].checked){
								count+=1;
							}
						}
						item.children().eq(1).children()[0].checked=false;
						item.children().eq(1).children()[0].indeterminate=false;
						if(count==children.length){
							item.children().eq(1).children()[0].checked=true;
						} else if(count>0){
							item.children().eq(1).children()[0].checked=true;
							item.children().eq(1).children()[0].indeterminate=true;
						}
					}
					
					function ticked(item){
						if(item.children()[0].className=="SA"){
							state=item.children().eq(1).children()[0].checked;
							children=findChildren(item);
							for(child in children){
								$(children[child]).children().eq(1).children().eq(0).prop('checked', state);
								$(children[child]).children().eq(1).children()[0].indeterminate=false;
							}
						} else if(item.children()[0].className=="PKPA"){
							state=item.children().eq(1).children()[0].checked;
							children=findChildren(item);
							for(child in children){
								$(children[child]).children().eq(1).children().eq(0).prop('checked', state);
								$(children[child]).children().eq(1).children()[0].indeterminate=false;
							}
							
							parents=findParents(item);
							for(parent in parents){
								checkTicks(parents[parent]);
							}
						} else if (item.children()[0].className=="CKPA"){
							parents=findParents(item);
							for(parent in parents){
								checkTicks(parents[parent]);
							}
						}
					}
					
					function toggleList(item){
						var type=item.children()[0].className;
						var state=$(item.children()[0]).children()[0].className.split(" ")[2];
						item=$($(item).next());
						if(type=="SA"){
							while(item.children()[0].className!=type){
								if(state=="glyphicon-chevron-up"){
									item.hide();
								} else {
									item.show();
									try {
										if(item.children()[0].children[0].className.split(" ")[2]=="glyphicon-chevron-up" && item.children()[0].className=="PKPA"){
											while($(item.next()).children()[0].className=="CKPA"){
												item=$(item.next());
											}
										}
									} catch (err){}
								}
								item=$(item.next());
							}
						} else if(type=="PKPA"){
							while(item.children()[0].className=="CKPA"){
								if(state=="glyphicon-chevron-up"){
									item.hide();
								} else {
									item.show();
								}
								item=$(item.next());
							}
						}
					}
					
					$(function () {
						
						SAs=[]
						@foreach(var row in SATemplateData){
                            var str="SAs["+row.ID+"]=["+row.ID+",\""+row.Name+"\", [";
                            
                            selectQueryString="SELECT DISTINCT(KPAs.Type), KPATemplates.Name FROM KPAs LEFT JOIN ServiceAreas ON KPAs.Parent=ServiceAreas.ID LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPATemplates.isParent=1 AND ServiceAreas.Type="+row.ID;
                            var pkpas=db.Query(selectQueryString);
                            
                            foreach(var pkpa in pkpas){
                                var pkpastr="["+pkpa.Type+",\""+pkpa.Name+"\", [";
                                
                                selectQueryString="SELECT DISTINCT(KPAs.Type), KPATemplates.Name FROM KPAs LEFT JOIN KPAs PKPAs ON KPAs.Parent=PKPAs.ID LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPATemplates.isParent=0 AND PKPAs.Type="+pkpa.Type;
                                var ckpas=db.Query(selectQueryString);
                                
                                foreach(var ckpa in ckpas){
                                    var ckpastr="["+ckpa.Type+",\""+ckpa.Name+"\"], ";
                                    pkpastr+=ckpastr;
                                }
                                
                                str+=pkpastr+"]], ";
                            }
							@Html.Raw(str+"]];\n");
						}
                        
						$(document).on("click", ".addSA", function (){
							addSA($("#SAmenu").val());
						});
						
						$(document).on("click", ".expandList", function (){
							$(this).toggleClass("glyphicon-chevron-up");
							$(this).toggleClass("glyphicon-chevron-down");
							toggleList($($(this).parents().eq(1)));
						});
						
						$(document).on("click", ".checkItem", function (){
							ticked($($(this).parents().eq(1)));
						});
						
						$(document).on("click", ".delete", function (){
							console.log("yes");
							del($(this).parents().eq(1));
						});
						
						$("#Submit").click(function () {
							
							sas="";
							pkpas="";
							ckpas="";
							
							items=$(".CKPA");
							for(item=0; item<items.length; item+=1){
								console.log(items[item]);
								if($(items[item]).parent().children().eq(1).children()[0].checked){
									if(ckpas.length!=0){
										ckpas=ckpas+",";
										pkpas=pkpas+",";
										sas=sas+",";
									}
									rents=findParents($(items[item]).parent());
									
									ckpas=ckpas+$(items[item]).data("id");
									pkpas=pkpas+$(rents[0]).children().eq(0).data("id");
									sas=sas+$(rents[1]).children().eq(0).data("id");
								}
							}
							
							var data = {name: $("#name").val(),isFollowUp: 0,CKPAs: ckpas, PKPAs: pkpas, SAs: sas};
		
							console.log(data);
		
							$.post("/createAudit.cshtml", data)
							.done(function (data) {
								$("body").replaceWith(data)
							}).fail(function(xhr, textStatus, errorThrown) {
								alert("Connection Failed, Check Internet Connection.");
							});
						});
						
					});
					
				</script>
			</head>
			
			<body>
				<div id=content>
					<table id=layoutTable>
						<tr id=headerTR>
							<td id=headerTD>
								<div class=header><h1><input id=name></input> Audit</h1></div>
								<div class=header>Add Service Area <select id=SAmenu>
									<option></option>
									@foreach(var row in SATemplateData){
										<option value=@row.ID>@row.Name</option>
									}
								</select> <button class=addSA>Add Service Area</button></div>
								<button id=Submit>Submit</button>
							</td>
						</tr>
						<tr id=bodyTR>
							<td id=bodyTD>
								<div id=saListwrapper id=listwrapper>
								<table id=saList>
									<tr><th>Name</th><th>Select All</th></tr>
								</table>
								</div>
							</td>
						</tr>
				</div>
			</body>
		
		</html>
	}
}