@using System.Linq;

@{
	if (IsPost) { 
        Layout="~/Layouts/PopUpLayout.cshtml";
        
		var db = Database.Open("eScorecard");
		var audit=db.Query("SELECT *, AuditTemplates.ID AS AuditTemplateID, AuditTemplates.Name AS AuditName, Stores.Name AS StoreName FROM Audits LEFT JOIN AuditTemplates ON Audits.Type=AuditTemplates.ID LEFT JOIN Employees ON Audits.Super=Employees.ID LEFT JOIN Stores ON Audits.Store=Stores.ID WHERE Audits.ID="+@Request["ID"]);
		
		if (audit.ElementAt(0).Username==(string) (Session["username"])) {
			if(audit.ElementAt(0).Completed==false) {
				if(audit.ElementAt(0).DateScheduled.Date==DateTime.Today.Date){
		            Layout="~/Layouts/PopUpLayout.cshtml";
        
					var AuditID=Request["ID"];
					var KPIs=Request["KPIs"].Split(',');
					var Inputs=Request["Inputs"].Split(',');
                    var Comments=Request["Comments"].Split(',');
                    
                    var fKPIs=Request["fKPIs"].Split(',');
					var fInputs=Request["fInputs"].Split(',');
                    var fComments=Request["fComments"].Split(',');
                    var fIDs=Request["fIDs"].Split(',');
					
                    var sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+")";
                    var Nonconupdates=db.Query(sql);
                    foreach(var update in Nonconupdates){
                        sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                        db.Query(sql);
                    }
                    
					sql="UPDATE Audits SET Completed=1, Completion=DATEADD(hour, 2, GETDATE()) WHERE ID="+AuditID;
					db.Query(sql);
					
					for(int i=0;i<KPIs.Length;i++){
						if(Inputs[i]!=""){
							sql="INSERT INTO CompletedAuditFields (AuditID, Input, KPI, Comment) VALUES ("+AuditID+","+Inputs[i]+","+KPIs[i]+",'"+Comments[i]+"')";
							db.Query(sql);
						}
					}
                    
                    for(int i=0;i<fKPIs.Length;i++){
						if(fInputs[i]!=""){
							sql="INSERT INTO CompletedAuditFields (AuditID, Input, KPI, Comment) VALUES ("+AuditID+","+fInputs[i]+","+fKPIs[i]+",'"+fComments[i]+"')";
							db.Query(sql);
						}
					}
					
                    sql="SELECT *, KPIs.ID AS kpiID, CompletedAuditFields.ID AS fieldID FROM CompletedAuditFields LEFT JOIN KPIs ON CompletedAuditFields.KPI=KPIs.ID LEFT JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE CompletedAuditFields.AuditID="+AuditID+"AND (";
					bool first=true;
                    foreach(var kpi in KPIs){
                        if(first){
                            first=false;
                            sql+="CompletedAuditFields.KPI="+kpi;
                        } else {
                            sql+=" OR CompletedAuditFields.KPI="+kpi;
                        }
                    }
                    var kpis=db.Query(sql+")");
                    
                    sql="SELECT Audits.ID, AuditTemplates.Name, Audits.DateScheduled FROM Audits LEFT JOIN AuditTemplates ON Audits.Type=AuditTemplates.ID WHERE CAST(Audits.DateScheduled AS DATE) >= CAST(GETDATE() AS DATE) AND Completed=0 AND Audits.Store="+audit.ElementAt(0).Store;
                    var audits=db.Query(sql);
                    
					<div>Your results have been saved. Audit ID: @Request["ID"]<br>
                    @Html.Raw((new AuditC(Int32.Parse(Request["ID"]))).sendFeedbackEmails())
                    </div><br>
                    
                    <script>
                        $("input").prop('disabled', true);    
                    </script>
                    
                    <div id="nonconformities">
                        
                        @foreach(var kpi in kpis){
                            if(kpi.InputType==1) {
                                if(kpi.Input>kpi.RangeMax || kpi.Input<kpi.RangeMin){
                                    <hr>
                                    <div class=kpiNoncon data-id=@kpi.fieldID>
                                        <b>KPI:</b> @kpi.Name<br>
                                        <b>Description:</b><br>@if(@kpi.Description==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Description</span>
                                        }<br>
                                        <b>Input:</b> @kpi.Input<br>
                                        <b>Acceptable Range:</b> @(kpi.RangeMin)@kpi.units to @(kpi.RangeMax)@kpi.units<br>
                                        <b>Comment:</b><br>
                                        @if(@kpi.Comment==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Comment</span>
                                        }<br><br>
                                        <b>Corrective Action Plan:</b><br>
                                        <textarea class="ActionPlan"></textarea><br>
                                        <b>Follow up audit:</b> <select class=followUpAudit>
                                            <option value="NULL">Next Visit To Store</option>
                                            @foreach(var aud in audits){
                                                <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                            }
                                            <option value="">No Follow UP</option>
                                        </select>
                                    </div>
                                } else {
                                    sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                    var updates=db.Query(sql);
                                    foreach(var update in updates){
                                        sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                        db.Query(sql);
                                    }
                                }
                            } else if(kpi.InputType==2) {
                                string inp;
                                string accept;
                                if(kpi.Input==1){
                                    inp="True";
                                } else {
                                    inp="False";
                                }
                                
                                if(kpi.Boolean==true){
                                    accept="True";
                                } else {
                                    accept="False";
                                }
                                
                                if(!(inp==accept)) {
                                    <hr>
                                    <div class=kpiNoncon data-id=@kpi.fieldID>
                                        <b>KPI:</b> @kpi.Name<br>
                                        <b>Description:</b><br>@if(@kpi.Description==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Description</span>
                                        }<br>
                                        <b>Input:</b> @inp<br>
                                        <b>Acceptable Option:</b> @accept<br>
                                        <b>Comment:</b><br>
                                        @if(@kpi.Comment==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Comment</span>
                                        }<br><br>
                                        <b>Corrective Action Plan:</b><br>
                                        <textarea class="ActionPlan"></textarea><br>
                                        <b>Follow up audit:</b> <select class=followUpAudit>
                                            <option value="NULL">Next Visit To Store</option>
                                            @foreach(var aud in audits){
                                                <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                            }
                                            <option value="">No Follow UP</option>
                                        </select>
                                    </div>
                                } else {
                                    sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                    var updates=db.Query(sql);
                                    foreach(var update in updates){
                                        sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                        db.Query(sql);
                                    }
                                }
                            } else if(kpi.InputType==3) {
                                if(!(kpi.Input>=kpi.Rating)) {
                                    <hr>
                                    <div class=kpiNoncon data-id=@kpi.fieldID>
                                        <b>KPI:</b> @kpi.Name<br>
                                        <b>Description:</b><br>@if(@kpi.Description==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Description</span>
                                        }<br>
                                        <b>Input:</b> @kpi.Input<br>
                                        <b>Acceptable Rating:</b> @kpi.Rating<br>
                                        <b>Comment:</b><br>
                                        @if(@kpi.Comment==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Comment</span>
                                        }<br><br>
                                        <b>Corrective Action Plan:</b><br>
                                        <textarea class="ActionPlan"></textarea><br>
                                        <b>Follow up audit:</b> <select class=followUpAudit>
                                            <option value="NULL">Next Visit To Store</option>
                                            @foreach(var aud in audits){
                                                <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                            }
                                            <option value="">No Follow UP</option>
                                        </select>
                                    </div>
                                } else {
                                    sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                    var updates=db.Query(sql);
                                    foreach(var update in updates){
                                        sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                        db.Query(sql);
                                    }
                                }
                            } else if(kpi.InputType==4) {
                                if(kpi.Input>kpi.RangeMax || kpi.Input<kpi.RangeMin){
                                    <hr>
                                    <div class=kpiNoncon data-id=@kpi.fieldID>
                                        <b>KPI:</b> @kpi.Name<br>
                                        <b>Description:</b><br>@if(@kpi.Description==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Description</span>
                                        }<br>
                                        <b>Input:</b> @kpi.Input seconds<br>
                                        <b>Acceptable Range:</b> @kpi.RangeMin to @kpi.RangeMax seconds<br>
                                        <b>Comment:</b><br>
                                        @if(@kpi.Comment==""){
                                            <span class=NoDesc>None</span>
                                        } else {
                                            <span>@kpi.Comment</span>
                                        }<br><br>
                                        <b>Corrective Action Plan:</b><br>
                                        <textarea class="ActionPlan"></textarea><br>
                                        <b>Follow up audit:</b> <select class=followUpAudit>
                                            <option value="NULL">Next Visit To Store</option>
                                            @foreach(var aud in audits){
                                                <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                            }
                                            <option value="">No Follow UP</option>
                                        </select>
                                    </div>
                                } else {
                                    sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                    var updates=db.Query(sql);
                                    foreach(var update in updates){
                                        sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                        db.Query(sql);
                                    }
                                } 
                            } 
                        } 
                        @{List<int> usedKPIs = new List<int>();}
                        @if(fKPIs.Length>1 || fKPIs[0]!=""){
                            for(int i=0;i<fKPIs.Length;i++){
                                sql="SELECT * FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE Nonconformities.ID="+fIDs[i];
                                var Noncon=db.Query(sql).First();
                                
                                if(fInputs[i]==""){
                                    sql="SELECT *, KPIs.ID AS kpiID, CompletedAuditFields.ID AS fieldID FROM CompletedAuditFields LEFT JOIN KPIs ON CompletedAuditFields.KPI=KPIs.ID LEFT JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE CompletedAuditFields.ID="+Noncon.CompletedAuditField;
                                } else {
                                    sql="SELECT *, KPIs.ID AS kpiID, CompletedAuditFields.ID AS fieldID FROM CompletedAuditFields LEFT JOIN KPIs ON CompletedAuditFields.KPI=KPIs.ID LEFT JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE CompletedAuditFields.AuditID="+AuditID+" AND CompletedAuditFields.KPI="+fKPIs[i];
                                }
                                var kpi=db.Query(sql).First();
                                if(!usedKPIs.Contains(kpi.kpiID)){
                                    usedKPIs.Add(kpi.kpiID);
                                    if(kpi.InputType==1) {
                                        if(kpi.Input>=kpi.RangeMax || kpi.Input<=kpi.RangeMin){
                                            <hr>
                                            <div class=kpiNoncon data-id=@kpi.fieldID>
                                                <b>KPI:</b> @kpi.Name<br>
                                                <b>Description:</b><br>@if(@kpi.Description==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Description</span>
                                                }<br>
                                                <b>Input:</b> @kpi.Input<br>
                                                <b>Acceptable Range:</b> @kpi.RangeMin to @kpi.RangeMax<br>
                                                <b>Comment:</b><br>
                                                @if(@kpi.Comment==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Comment</span>
                                                }<br><br>
                                                <b>Corrective Action Plan:</b><br>
                                                <textarea class="ActionPlan">@Noncon.ActionPlan</textarea><br>
                                                <b>Follow up audit:</b> <select class=followUpAudit>
                                                    <option value="NULL">Next Visit To Store</option>
                                                    @foreach(var aud in audits){
                                                        <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                                    }
                                                    <option value="">No Follow UP</option>
                                                </select>
                                            </div>
                                        } else {
                                            sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                            var updates=db.Query(sql);
                                            foreach(var update in updates){
                                                sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                                db.Query(sql);
                                            }
                                        }
                                    } else if(kpi.InputType==2) {
                                        string inp;
                                        string accept;
                                        if(kpi.Input==1){
                                            inp="True";
                                        } else {
                                            inp="False";
                                        }
                                        
                                        if(kpi.Boolean==true){
                                            accept="True";
                                        } else {
                                            accept="False";
                                        }
                                        
                                        if(!(inp==accept)) {
                                            <hr>
                                            <div class=kpiNoncon data-id=@kpi.fieldID>
                                                <b>KPI:</b> @kpi.Name<br>
                                                <b>Description:</b><br>@if(@kpi.Description==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Description</span>
                                                }<br>
                                                <b>Input:</b> @inp<br>
                                                <b>Acceptable Option:</b> @accept<br>
                                                <b>Comment:</b><br>
                                                @if(@kpi.Comment==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Comment</span>
                                                }<br><br>
                                                <b>Corrective Action Plan:</b><br>
                                                <textarea class="ActionPlan">@Noncon.ActionPlan</textarea><br>
                                                <b>Follow up audit:</b> <select class=followUpAudit>
                                                    <option value="NULL">Next Visit To Store</option>
                                                    @foreach(var aud in audits){
                                                        <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                                    }
                                                    <option value="">No Follow UP</option>
                                                </select>
                                            </div>
                                        } else {
                                            sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                            var updates=db.Query(sql);
                                            foreach(var update in updates){
                                                sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                                db.Query(sql);
                                            }
                                        }
                                    } else if(kpi.InputType==3) {
                                        if(!(kpi.Input>=kpi.Rating)) {
                                            <hr>
                                            <div class=kpiNoncon data-id=@kpi.fieldID>
                                                <b>KPI:</b> @kpi.Name<br>
                                                <b>Description:</b><br>@if(@kpi.Description==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Description</span>
                                                }<br>
                                                <b>Input:</b> @kpi.Input<br>
                                                <b>Acceptable Rating:</b> @kpi.Rating<br>
                                                <b>Comment:</b><br>
                                                @if(@kpi.Comment==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Comment</span>
                                                }<br><br>
                                                <b>Corrective Action Plan:</b><br>
                                                <textarea class="ActionPlan">@Noncon.ActionPlan</textarea><br>
                                                <b>Follow up audit:</b> <select class=followUpAudit>
                                                    <option value="NULL">Next Visit To Store</option>
                                                    @foreach(var aud in audits){
                                                        <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                                    }
                                                    <option value="">No Follow UP</option>
                                                </select>
                                            </div>
                                        } else {
                                            sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                            var updates=db.Query(sql);
                                            foreach(var update in updates){
                                                sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                                db.Query(sql);
                                            }
                                        } 
                                    } else if(kpi.InputType==4) {
                                        if(kpi.Input>=kpi.RangeMax || kpi.Input<=kpi.RangeMin){
                                            <hr>
                                            <div class=kpiNoncon data-id=@kpi.fieldID>
                                                <b>KPI:</b> @kpi.Name<br>
                                                <b>Description:</b><br>@if(@kpi.Description==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Description</span>
                                                }<br>
                                                <b>Input:</b> @kpi.Input seconds<br>
                                                <b>Acceptable Range:</b> @kpi.RangeMin to @kpi.RangeMax seconds<br>
                                                <b>Comment:</b><br>
                                                @if(@kpi.Comment==""){
                                                    <span class=NoDesc>None</span>
                                                } else {
                                                    <span>@kpi.Comment</span>
                                                }<br><br>
                                                <b>Corrective Action Plan:</b><br>
                                                <textarea class="ActionPlan">@Noncon.ActionPlan</textarea><br>
                                                <b>Follow up audit:</b> <select class=followUpAudit>
                                                    <option value="NULL">Next Visit To Store</option>
                                                    @foreach(var aud in audits){
                                                        <option value=@aud.ID>@aud.Name on @(aud.DateScheduled.ToString("dd/MM/yyyy hh:ss"))(@aud.ID)</option>
                                                    }
                                                    <option value="">No Follow UP</option>
                                                </select>
                                            </div>
                                        } else {
                                            sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND CompletedAuditFields.KPI="+kpi.kpiID;
                                            var updates=db.Query(sql);
                                            foreach(var update in updates){
                                                sql="UPDATE Nonconformities SET Resolved=1, FollowUpAudit="+audit.ElementAt(0).ID+" WHERE ID="+update.ID;
                                                db.Query(sql);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    </div>
                    
                    <script>
                        $(function () {
                            $(".modal-title").html("Follow up on non-conformities.");
                            $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Submit</button>');
                            
                            $(".SubmitPopUp").click(function () {
                                var noncs="";
                                var actionplans="";
                                var followups="";
                                
                                var nons=$(".kpiNoncon");
                                for(var i=0;i<nons.length;i++){
                                    if(i!=0){
                                        noncs+=",";
                                        actionplans+=",";
                                        followups+=",";
                                    }
                                    noncs+=$(nons[i]).data("id");
                                    actionplans+=$(nons[i]).children(".ActionPlan").val();
                                    followups+=$(nons[i]).children(".followUpAudit").val();
                                }
                                
                                data={Noncs: noncs, ActionPlans: actionplans, FollowUps: followups};
                                
                                console.log(data);
                            
                                $(".modal-body").html("Loading please wait...");
                                $("#InfoModal").modal("show");
                                $(".modal-footer").html("<button type=\"button\" class=\"btn closebtn btn-default\" data-dismiss=\"modal\">Close</button>");
                                
                                $.post("/ajax/newNonconformities.cshtml", data)
                                .done(function (data) {
                                    $(".modal-content").html(data)
                                }).fail(function(xhr, textStatus, errorThrown) {
                                    alert("Connection Failed, Check Internet Connection.");
                                });
                            });
                        });
                    </script>
				}
			}
		}
		
	} else { //No post data
    
        ServiceAreaC SAtest = new ServiceAreaC(24);
	
		var db = Database.Open("eScorecard");
		var audit=db.Query("SELECT *, AuditTemplates.ID AS AuditTemplateID, AuditTemplates.Name AS AuditName, Stores.Name AS StoreName FROM Audits LEFT JOIN AuditTemplates ON Audits.Type=AuditTemplates.ID LEFT JOIN Employees ON Audits.Super=Employees.ID LEFT JOIN Stores ON Audits.Store=Stores.ID WHERE Audits.ID="+Request.QueryString["ID"]);

		var AuditFields=db.Query("SELECT * FROM AuditFields WHERE Audit="+audit.First().AuditTemplateID+" ORDER BY ServiceArea, ParentKPA, ChildKPA");
		var Store=db.Query("SELECT * FROM Stores WHERE ID="+@audit.First().Store);
        
        var FollowUpAuditFields=db.Query("SELECT CompletedAuditFields.KPI AS KPI, Nonconformities.ID, ServiceAreas.Type AS ServiceArea, PKPAs.Type AS ParentKPA, CKPAs.Type AS ChildKPA FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID LEFT JOIN Audits ON CompletedAuditFields.AuditID=Audits.ID LEFT JOIN KPIs on CompletedAuditFields.KPI=KPIs.ID LEFT JOIN KPAs CKPAs ON KPIs.Parent=CKPAs.ID LEFT JOIN KPAs PKPAs ON CKPAs.Parent=PKPAs.ID LEFT JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID WHERE Nonconformities.Resolved=0 AND (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+") AND Audits.Store="+@audit.First().Store);

        
		<html>
		
			<head>
				@RenderPage("~/shared/_includes.cshtml")
				@RenderPage("~/shared/_check_login.cshtml")
				<link rel="stylesheet" type="text/css" href="~/styles/doAudit.css">
                <script src="~/shared/scripts/PopUps.js"></script>
				
				<script>
					timers=[];
					
					function startTiming(){
						setInterval( function(){
							for(time in timers){
								if($("#"+timers[time]).val()==""){
									$("#"+timers[time]).val(0);
								} else {
									var tim=""+(parseInt($("#"+timers[time]).val())+1);
									$("#"+timers[time]).val(tim);
								}
							}
						}, 1000);
					}
					
					$(function () {
						
						$("#Submit").click(function () {
							console.log("start");
							kpis="";
							inputs="";
                            comments="";
							
							items=$(".KPI");
							for(item=0; item<items.length; item+=1){
								if(kpis.length!=0){
									kpis=kpis+",";
									inputs=inputs+",";
                                    comments=comments+",";
								}
								kpis=kpis+$(items[item]).data("id");
                                comments=comments+$(items[item]).data("comment");
                                
                                input=$(items[item]).next().next();
								if(input.data("type")==1){
									inputs=inputs+input.children().eq(0).val();
								} else if(input.data("type")==2) {
									if(input.children().eq(0).children().eq(0)[0].checked){
										inputs=inputs+"1";
									} else if (input.children().eq(0).children().eq(1)[0].checked){
										inputs=inputs+"0";
									}
								} else if (input.data("type")==3){
									checks=input.children().eq(0).children()
									for(check=0;check<checks.length;check+=1){
										if(checks[check].checked){
											inputs=inputs+checks[check].value;
										}
									}
								} else if(input.data("type")==4){
									inputs=inputs+input.children().eq(0).val();
								}
							}
							
                            fkpis="";
							finputs="";
                            fcomments="";
                            fids="";
							
							items=$(".fKPI");
							for(item=0; item<items.length; item+=1){
								if(fkpis.length!=0){
									fkpis=fkpis+",";
									finputs=finputs+",";
                                    fcomments=fcomments+",";
                                    fids=fids+",";
								}
								fkpis=fkpis+$(items[item]).data("id");
                                fcomments=fcomments+$(items[item]).data("comment");
                                fids=fids+$(items[item]).data("fid");
                                
                                finput=$(items[item]).next().next();
								if(finput.data("type")==1){
									finputs=finputs+finput.children().eq(0).val();
								} else if(finput.data("type")==2) {
									if(finput.children().eq(0).children().eq(0)[0].checked){
										finputs=finputs+"1";
									} else if (finput.children().eq(0).children().eq(1)[0].checked){
										finputs=finputs+"0";
									} else {
                                         finputs=finputs;
                                    }
								} else if (finput.data("type")==3){
									checks=finput.children().eq(0).children()
									for(check=0;check<checks.length;check+=1){
										if(checks[check].checked){
											finputs=finputs+checks[check].value;
										}
									}
								} else if(finput.data("type")==4){
									finputs=finputs+finput.children().eq(0).val();
								}
							}
                            
							var data = {ID: $("#InfoDiv").data("auditid"),KPIs: kpis, Inputs: inputs, Comments: comments, fKPIs: fkpis, fInputs: finputs, fComments: fcomments, fIDs: fids};
		
							console.log(data);
                            
                            $(".modal-body").html("Loading please wait...");
                            $("#InfoModal").modal("show");
                            $(".modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>");
		                    
							$.post("/doAudit.cshtml", data)
							.done(function (data) {
								$(".modal-content").html(data)
							}).fail(function(xhr, textStatus, errorThrown) {
								alert("Connection Failed, Check Internet Connection.");
							});
						});
						
						startTiming();
						
						$(".TimeButton").click(function () {
							if($(this).text()=="Start Timer"){
								$(this).text("Stop Timer");
								timers.push($(this).prev().attr('ID'));
							} else if($(this).text()=="Stop Timer"){
								$(this).text("Reset");
								for(var i = timers.length - 1; i >= 0; i--) {
									if(timers[i] === $(this).prev().attr('ID')) {
										timers.splice(i, 1);
									}
								}
							} else {
								$(this).text("Start Timer");
								$(this).prev().val("");
							}
						});
						
						$(".addInfo").click(function () {
                            //showOverlay("ajax/view/minimalViewKPI.cshtml", $(this).parent().siblings().eq(0).data("id"));
                            $(".modal-body").html($(this).parent().siblings().eq(0).children(".addInfoContent").html());
                            $("#InfoModal").modal("show");
						});
                        
                        $(".descriptionWrapper").click(function () {
                            $(".modal-title").html("View Description");
                            $(".modal-body").html($(this).html());
                            $(".modal-footer").html("<button type=\"button\" class=\"btn btn-default closebtn\" data-dismiss=\"modal\">Close</button>");
                            $("#InfoModal").modal("show");
						});
                        
                        $(".comment").click(function () {
                            $(".modal-title").html("Add Comment to KPI");
                            $(".modal-body").html("<textarea placeholder=\"Comment Here...\" class=\"commentArea\"></textarea>");
                            $(".commentArea").val($(this).parent().siblings().eq(0).data("comment"));
                            $(".commentArea").data("kpiID",$(this).parent().siblings().eq(0).data("id"));
                            $(".modal-footer").html("<button type=\"button\" class=\"btn btn-default addComment\">Add Comment</button><button type=\"button\" class=\"btn closebtn btn-default\" data-dismiss=\"modal\">Discard Changes</button>");
                            $("#InfoModal").modal("show");
                            $("#InfoModal").unbind();
                            isEdited=false;
                            
                            $(".addComment").click(function() {
                                $("td[data-id='"+$(".commentArea").data("kpiID")+"']").data("comment",$(".commentArea").val());
                                $("#InfoModal").modal("hide");
                            });
						});
					});
				</script>	
			</head>
			
			<body>
				@if (audit.ElementAt(0).Username==(string) (Session["username"])) {
					if(audit.ElementAt(0).Completed==false){
						if(audit.ElementAt(0).DateScheduled.Date==DateTime.Today.Date){
				
							<div id=content>
								<table id=layoutTable>
									<tr id=headerTR>
										<td id=headerTD>
											<div class=header><h1>@audit.First().AuditName Audit</h1>@DateTime.Now.ToString("dd/MM/yyyy")<br>@Store[0][1]</div>
											<button id=Submit>Submit</button>
										</td>
									</tr>
									<tr id=bodyTR>
										<td id=bodyTD>
											<div id=saListwrapper id=listwrapper>
											<table id=saList>
												<tr><th>Name</th><th class="description">Description</th><th class="input">Score</th><th class="AdditionalInfo">Additonal Information</th></tr>
												@{var pSA=0;
												var pPKPA=0;
												var pCKPA=0;
                                                List<int> usedKPIs = new List<int>();
                                                }
												@foreach(var Field in AuditFields) {
													var SA=db.Query("SELECT ServiceAreaTemplates.*, ServiceAreas.ID AS saID FROM ServiceAreas LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID LEFT JOIN Stores ON ServiceAreas.Parent=Stores.ID WHERE Stores.ID="+audit.ElementAt(0).Store+" AND ServiceAreaTemplates.ID="+Field.ServiceArea);
													var PKPA=db.Query("SELECT KPATemplates.*, KPAs.ID as pkpaID FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPATemplates.isParent=1 AND KPAs.Parent="+SA[0].saID+" AND KPAs.Type="+Field.ParentKPA);
													var CKPA=db.Query("SELECT KPATemplates.*, KPAs.ID as ckpaID FROM KPAs LEFT JOIN KPAs PKPAs ON KPAs.Parent=PKPAs.ID LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPATemplates.isParent=0 AND KPAs.Parent="+PKPA[0].pkpaID+" AND KPAs.Type="+Field.ChildKPA);
													var KPIs=db.Query("SELECT * FROM KPIs INNER JOIN KPAs AS CKPAs ON KPIs.Parent=CKPAs.ID INNER JOIN KPAs AS PKPAs ON CKPAs.Parent=PKPAs.ID INNER JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID INNER JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE ServiceAreas.Parent="+audit.First().Store+" AND ServiceAreas.Type="+Field.ServiceArea+" AND PKPAs.Type="+Field.ParentKPA+" AND CKPAs.Type="+Field.ChildKPA);
													var acceptableValues="";
													
                                                    if(SA.Count>0){
                                                        if(pSA!=SA[0][0] && KPIs.Count>0){
                                                            pSA=SA[0][0];
                                                            pPKPA=0;
                                                            pCKPA=0;
                                                            <tr class=SAtr>
                                                                <td class=SA data-id="@Field.ServiceArea">
                                                                    <b>@SA[0][1]</b>
                                                                    <div class=addInfoContent id="SA@(SA[0].saID)">@RenderPage("~/ajax/view/minimalViewServiceArea.cshtml", new {selectedID=SA[0].saID})</div>
                                                                </td><td class="description"></td><td class=input></td>
                                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                                            </tr>
                                                        }
                                                    }
                                                    
                                                    if(PKPA.Count>0){
                                                        if(pPKPA!=PKPA[0][0] && KPIs.Count>0){
                                                            pPKPA=PKPA[0][0];
                                                            pCKPA=0;
                                                            <tr class=PKPAtr>
                                                                <td class=PKPA data-id="@Field.ParentKPA">
                                                                    @PKPA[0][1]
                                                                    <div class=addInfoContent id="PKPA@(PKPA[0].pkpaID)">@RenderPage("~/ajax/view/minimalViewPKPA.cshtml", new {selectedID=PKPA[0].pkpaID})</div>
                                                                </td><td class="description"></td><td class=input></td>
                                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                                            </tr>
                                                        }
                                                    }
                                                    if(CKPA.Count>0){
                                                        if(pCKPA!=CKPA[0][0]){
                                                            pCKPA=CKPA[0][0];
                                                            <tr>
                                                                <td class=CKPA data-id="@Field.ChildKPA">
                                                                    @CKPA[0][1]
                                                                    <div class=addInfoContent id="CKPA@(CKPA[0].ckpaID)">@RenderPage("~/ajax/view/minimalViewCKPA.cshtml", new {selectedID=CKPA[0].ckpaID})</div>
                                                                </td><td class="description"></td><td class=input></td>
                                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                                            </tr>
                                                        }
                                                    }
													foreach(var KPI in KPIs){
														<tr>
                                                            @{
                                                                pCKPA=CKPA[0][0];
                                                                var sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID LEFT JOIN Audits ON CompletedAuditFields.AuditID=Audits.ID WHERE CompletedAuditFields.KPI="+KPI.ID+" AND Nonconformities.Resolved=0 AND (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+")";
                                                                var Noncons=db.Query(sql);
                                                                
                                                                if(Noncons.Count>0){
                                                                    <td class="KPI Noncon" data-comment="" data-id="@KPI.ID">
																        @KPI.Name
                                                                        <div class=addInfoContent id="kpi@(KPI.ID)">
                                                                            @RenderPage("~/ajax/view/minimalViewKPI.cshtml", new {selectedID=KPI.ID})
                                                                            @if(Noncons.Count>0){
                                                                                <br><h3>Nonconformities coming into audit:</h3><br>
                                                                                foreach(var Noncon in Noncons){
                                                                                    @RenderPage("~/ajax/view/minimalViewNonconformity.cshtml", new { selectedID = Noncon.ID})
                                                                                }
                                                                            }
                                                                        </div>
															        </td>
                                                                } else {
                                                                    <td class="KPI" data-comment="" data-id="@KPI.ID">
																        @KPI.Name
                                                                        <div class=addInfoContent id="kpi@(KPI.ID)">
                                                                            @RenderPage("~/ajax/view/minimalViewKPI.cshtml", new {selectedID=KPI.ID})
                                                                            @if(Noncons.Count>0){
                                                                                <br><h3>Nonconformities coming into audit:</h3><br>
                                                                                foreach(var Noncon in Noncons){
                                                                                    @RenderPage("~/ajax/view/minimalViewNonconformity.cshtml", new { selectedID = Noncon.ID})
                                                                                }
                                                                            }
                                                                        </div>
															        </td>
                                                                }
                                                            }
                                                            
                                                            
                                                            <td class=description>
                                                                <div class="descriptionWrapper">
																    @if(@KPI.Description==""){
                                                                        <span class=NoDesc>None</span>
                                                                    } else {
                                                                        <span>@KPI.Description</span>
                                                                    }
                                                                </div>
															</td>
                                                            
                                                            @if(KPI.InputType==1){
                                                                acceptableValues="Acceptabe Range is from "+KPI.RangeMin+" to "+KPI.RangeMax+".";
                                                                <td data-type=1 class=input>
                                                                Value: <input class=value> @KPI.Units
                                                                </td>
                                                            } else if(KPI.InputType==2){
                                                                acceptableValues="Acceptable option is: "+KPI.Boolean;
                                                                <td data-type=2 class=input>
                                                                    <form class=boolean action="">
                                                                        <input type="radio" name=Bool class=True value=1> True
                                                                        <input type="radio" name=Bool class=False value=0> False
                                                                    </form>
                                                                </td>
                                                            } else if(KPI.InputType==3){
                                                                acceptableValues="Acceptable rating is "+KPI.Rating+" or above.";
                                                                <td data-type=3 class=input>
                                                                    <form class=rating action="">
                                                                        <input type="radio" name=rating class=True value=1> 1
                                                                        <input type="radio" name=rating class=True value=2> 2
                                                                        <input type="radio" name=rating class=True value=3> 3
                                                                        <input type="radio" name=rating class=True value=4> 4
                                                                        <input type="radio" name=rating class=True value=5> 5
                                                                    </form>
                                                                </td>
                                                            } else if(KPI.InputType==4){
                                                                acceptableValues="Acceptable duration is from "+KPI.RangeMin+" seconds to "+KPI.RangeMax+" seconds.";
                                                                <td data-type=4 class=input>
                                                                    <input id=@KPI.ID class=time> <button class=TimeButton>Start Timer</button>
                                                                </td>
                                                            } 
                                                            
															<td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img> <img src="http://tastewisescorecard.azurewebsites.net/media/c.png" class="comment"></img></td>
														</tr>
                                                        usedKPIs.Add(KPI.ID);
													}
                                                    
												}
                                                
                                                <tr class=followUps style="display: none"><td class=divider>Follow ups from previous audits:</td><td class="divider description"></td><td class=divider></td><td class=divider></td></tr>
                                                
                                                @if(FollowUpAuditFields.Count>0){
                                                    
                                                    pSA=0;
                                                    pPKPA=0;
                                                    pCKPA=0;
                                                    var isNone=true;
                                                    foreach(var Field in FollowUpAuditFields) {
                                                        
													    var SA=db.Query("SELECT ServiceAreaTemplates.*, ServiceAreas.ID AS saID FROM ServiceAreas LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID LEFT JOIN Stores ON ServiceAreas.Parent=Stores.ID WHERE Stores.ID="+audit.ElementAt(0).Store+" AND ServiceAreaTemplates.ID="+Field.ServiceArea);
                                                        var PKPA=db.Query("SELECT KPATemplates.*, KPAs.ID as pkpaID FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPATemplates.isParent=1 AND KPAs.Parent="+SA[0].saID);
                                                        var CKPA=db.Query("SELECT KPATemplates.*, KPAs.ID as ckpaID FROM KPAs LEFT JOIN KPAs PKPAs ON KPAs.Parent=PKPAs.ID LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPAtemplates.isParent=0 AND KPAs.Parent="+PKPA[0].pkpaID);
                                                        var kpistr="SELECT * FROM KPIs INNER JOIN KPAs AS CKPAs ON KPIs.Parent=CKPAs.ID INNER JOIN KPAs AS PKPAs ON CKPAs.Parent=PKPAs.ID INNER JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID INNER JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE KPIs.ID="+Field.KPI;
                                                        
                                                        foreach(var kpi in usedKPIs){
                                                            kpistr+=" AND KPIs.ID!="+kpi;
                                                        }
                                                        var KPIs=db.Query(kpistr+" ORDER BY ServiceAreas.ID, PKPAs.ID, CKPAs.ID");
                                                        var acceptableValues="";
                                                        
                                                       var checkAnyNoncon=db.Query("SELECT COUNT(*) AS Num FROM KPIs INNER JOIN KPAs AS CKPAs ON KPIs.Parent=CKPAs.ID INNER JOIN KPAs AS PKPAs ON CKPAs.Parent=PKPAs.ID INNER JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID INNER JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE KPIs.ID="+Field.KPI);
                                                       
                                                       if(checkAnyNoncon[0].Num>0){
                                                           <script>
                                                               $(function(){
                                                                  $(".followUps").show(); 
                                                               });
                                                           </script>
                                                       }
                                                        if(SA.Count>0){
                                                            if(pSA!=SA[0][0] && KPIs.Count>0){
                                                                pSA=SA[0][0];
                                                                pPKPA=0;
                                                                pCKPA=0;
                                                                <tr class=SAtr>
                                                                <td class=SA data-id="@Field.ServiceArea">
                                                                    <b>@SA[0][1]</b>
                                                                    <div class=addInfoContent id="SA@(SA[0].saID)">@RenderPage("~/ajax/view/minimalViewServiceArea.cshtml", new {selectedID=SA[0].saID})</div>
                                                                </td><td class="description"></td><td class=input></td>
                                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                                            </tr>
                                                            }
                                                        }
                                                        if(PKPA.Count>0){
                                                            if(pPKPA!=PKPA[0][0] && KPIs.Count>0){
                                                                pPKPA=PKPA[0][0];
                                                                pCKPA=0;
                                                                <tr class=PKPAtr>
                                                                <td class=PKPA data-id="@Field.ParentKPA">
                                                                    @PKPA[0][1]
                                                                    <div class=addInfoContent id="PKPA@(PKPA[0].pkpaID)">@RenderPage("~/ajax/view/minimalViewPKPA.cshtml", new {selectedID=PKPA[0].pkpaID})</div>
                                                                </td><td class="description"></td><td class=input></td>
                                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                                            </tr>
                                                            }
                                                        }
                                                        if(CKPA.Count>0){
                                                            if(pCKPA!=CKPA[0][0] && KPIs.Count>0){
                                                                pCKPA=CKPA[0][0];
                                                                <tr>
                                                                    <td class=CKPA data-id="@Field.ChildKPA">
                                                                        @CKPA[0][1]
                                                                        <div class=addInfoContent id="CKPA@(CKPA[0].ckpaID)">@RenderPage("~/ajax/view/minimalViewCKPA.cshtml", new {selectedID=CKPA[0].ckpaID})</div>
                                                                    </td><td class="description"></td><td class=input></td>
                                                                    <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                                                </tr>
                                                            }
                                                        }
                                                        foreach(var KPI in KPIs){
                                                            isNone=false;
                                                            
                                                            var sql="SELECT Nonconformities.ID FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID LEFT JOIN Audits ON CompletedAuditFields.AuditID=Audits.ID WHERE CompletedAuditFields.KPI="+KPI.ID+" AND Nonconformities.Resolved=0 AND (Nonconformities.FollowUpAudit IS NULL OR Nonconformities.FollowUpAudit="+audit.ElementAt(0).ID+")";
                                                            var Noncons=db.Query(sql);
                                                            
                                                            <tr>
                                                                <td class=fKPI data-comment="" data-id="@KPI.ID" data-fid="@Field.ID">
                                                                    @KPI.Name
                                                                    <div class=addInfoContent id="kpi@(KPI.ID)">
                                                                        @RenderPage("~/ajax/view/minimalViewKPI.cshtml", new {selectedID=KPI.ID})
                                                                        @if(Noncons.Count>0){
                                                                            <br><h3>Nonconformities coming into audit:</h3><br>
                                                                            foreach(var Noncon in Noncons){
                                                                                @RenderPage("~/ajax/view/minimalViewNonconformity.cshtml", new { selectedID = Noncon.ID})
                                                                            }
                                                                        }
                                                                        </div>
                                                                </td>
                                                                
                                                                <td class=description>
                                                                    <div class="descriptionWrapper">
                                                                        @if(@KPI.Description==""){
                                                                            <span class=NoDesc>None</span>
                                                                        } else {
                                                                            <span>@KPI.Description</span>
                                                                        }
                                                                    </div>
                                                                </td>
                                                                
                                                                @if(KPI.InputType==1){
                                                                    acceptableValues="Acceptabe Range is from "+KPI.RangeMin+" to "+KPI.RangeMax+".";
                                                                    <td data-type=1 class=input>
                                                                    Value: <input class=value> @KPI.Units
                                                                    </td>
                                                                } else if(KPI.InputType==2){
                                                                    acceptableValues="Acceptable option is: "+KPI.Boolean;
                                                                    <td data-type=2 class=input>
                                                                        <form class=boolean action="">
                                                                            <input type="radio" name=Bool class=True value=1> True
                                                                            <input type="radio" name=Bool class=False value=0> False
                                                                        </form>
                                                                    </td>
                                                                } else if(KPI.InputType==3){
                                                                    acceptableValues="Acceptable rating is "+KPI.Rating+" or above.";
                                                                    <td data-type=3 class=input>
                                                                        <form class=rating action="">
                                                                            <input type="radio" name=rating class=True value=1> 1
                                                                            <input type="radio" name=rating class=True value=2> 2
                                                                            <input type="radio" name=rating class=True value=3> 3
                                                                            <input type="radio" name=rating class=True value=4> 4
                                                                            <input type="radio" name=rating class=True value=5> 5
                                                                        </form>
                                                                    </td>
                                                                } else if(KPI.InputType==4){
                                                                    acceptableValues="Acceptable duration is from "+KPI.RangeMin+" seconds to "+KPI.RangeMax+" seconds.";
                                                                    <td data-type=4 class=input>
                                                                        <input id=@KPI.ID class=time> <button class=TimeButton>Start Timer</button>
                                                                    </td>
                                                                }
                                                                
															<td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img> <img src="http://tastewisescorecard.azurewebsites.net/media/c.png" class="comment"></img></td>
                                                            </tr>
                                                            usedKPIs.Add(KPI.ID);
                                                        }
                                                        
                                                    }
                                                    if(isNone){
                                                        <tr><td>All covered in main audit.</td><td class=description></td><td></td><td></td></tr>
                                                    }
                                                }
                                                
											</table>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div id=InfoDiv data-AuditID="@Request.QueryString["ID"]"></div>
						} else if (audit.ElementAt(0).DateScheduled.Date<DateTime.Today.Date){
							<div>The date to perform this audit has passed</div>
						} else {
							<div>This audit is not scheduled for today</div>
						}
					} else {
						<div>This Audit has been completed.</div>
					}
				} else {
					<div>You are not authorised to perform this audit.</div>
				}
				
				<!-- Bootstrap Modal -->
				<div class="modal fade" id="InfoModal">
					<div class="modal-dialog">
					
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close">&times;</button>
						<h3 class="modal-title"></h3>
						</div>
						<div class="modal-body">
						</div>
						<div class="modal-footer"><p id=acceptableValues></p>
						<button type="button" class="btn btn-default closebtn">Close</button>
						</div>
                        <div class=progressBar></div>
					</div>
					
					</div>
				</div>
				
			</body>
		
		</html>
	}
}