<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		@RenderPage("~/shared/_includes.cshtml")
		@RenderPage("~/shared/_check_login.cshtml")
		<title>Tastewise e-Scorecard</title>
        
        <script src="~/shared/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/shared/tabs/tabs.css">
		<script src="~/shared/tabs/tabs.js"></script>
		<link rel="stylesheet" type="text/css" href="~/styles/Home.css">
		<link rel="stylesheet" type="text/css" href="/styles/AuditPage.css">
		<script src="~/scripts/AuditPage.js"></script>

		<script>
		// Tabs
		var openTabs = [];

		function heartbeat(){
			xmlhttp=new XMLHttpRequest();
			
			xmlhttp.onreadystatechange=function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200){
					if(xmlhttp.responseText=="<p>no</p>"){
						alert("your session has timed out, please log in again.");
						window.location.assign("Login.cshtml");
					}
				}
			}
			xmlhttp.open("GET","shared/getSessionStatus.cshtml",true);
			xmlhttp.send();
			
			setTimeout(heartbeat,10000);
		}

		function findMainBranch(tab) {

			var path = [];
			path[path.length] = $(tab).attr('id');

			var tabbodies = $(tab).parents(".tabbody");
			for (var i = 0; i < tabbodies.length; i++) {
				path[path.length] = $(tabbodies[i]).attr('id');
			}
			return path;
		}

		function findElement(element, path) {
			if (path.length == 1) {
				if($(element).find(".tabheader#" + path[0]).length==1){
					return $(element).find(".tabheader#" + path[0]);
				} else {
					return $(element).find(".tabheader#" + path[0])[0];
				}
			} else {
				return findElement($(element).find(".tabbody#" + path[path.length - 1])[0], path.slice(0, path.length - 1));
			}
		}

		function resumeTree() {
			for (var i = 0; i < openTabs.length; i++) {
				setTimeout($(findElement($("#mainTree")[0], openTabs[openTabs.length - (i + 1)])).trigger("click"), 500 * (i + 1));
			}
		}

		function refreshTree() {
			openTabs = [];
			var open = $(".selected");
			for (var i = 0; i < open.length; i++) {
				openTabs[openTabs.length] = findMainBranch(open[i]);
			}

			$(".selected").trigger("click");
			$("#content").load("refresh/mainTree.cshtml");
		}

		// Overlays
		var Url;

		// Menus
		function toggleMenu() {
			parseInt($("#sidebar").css('left')) == 0 ? hideMenu(350) : showMenu(350);
		}
		function showMenu(speed) {
			$("#sidebar").animate({ left: '0' }, speed); $("#sidebar-button").html("<span class=\"glyphicon glyphicon-menu-left\"></span>");
		}
		function hideMenu(speed) {
			$("#sidebar").animate({ left: -($("#sidebar").outerWidth()) + $("#sidebar-button").outerWidth() }, speed); $("#sidebar-button").html("<span class=\"glyphicon glyphicon-menu-right\"></span>");
		}

		// On Load and Resize
		$(function () {
            $("#content").show();
			$("#sidebar").animate({ left: -($("#sidebar").outerWidth()) + $("#sidebar-button").outerWidth() }, 350);
			$("#overlay-bg").hide();
			location.hash = "";
			$("#overlay").click(function (e) { e.stopPropagation() });
			heartbeat();
		});
		$(window).resize(function () { parseInt($("#sidebar").css('left')) == 0 ? showMenu(0) : hideMenu(0); });
		</script>
	</head>
	
	<body>
		<div id="sidebar">
			<div id="sidebar-content">
				<img id="img-profile" src="Tim.jpg" alt="Profile Picture">
				<h3>@Session["username"]</h3>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" onclick="showOverlay('/ajax/userSettings.cshtml')">Settings</button>
					<button type="button" class="btn btn-default" onclick="showOverlay('/ajax/logoutsure.cshtml')">Logout</button>
				</div>
				<hr>
				<div class="list-group">
					<!-- for loop with db conn
						<a onclick=showOverlay("/ajax/message.cshtml?id=1") class="list-group-item"><b>From whom</b> - cutoff message begin<span class="glyphicon glyphicon-menu-right" style="float:right"></span></a>
					-->
				</div>
			</div>
			<button type="button" id="sidebar-button" class="btn btn-danger" onclick="toggleMenu()"><span class="glyphicon glyphicon-menu-right"></span></button>
		</div>
		<div id="content" style="display: none;">
		
			@RenderPage("~/shared/mainTree.cshtml")
			
            <div id="infodiv"></div>
		</div>
		<div class="modal fade" id="InfoModal">
			<div class="modal-dialog">
			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close">&times;</button>
				<h3 class="modal-title"></h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer"
				<button type="button" class="btn btn-default">Close</button>
				</div>
                <div class=progressBar></div>
			</div>
			
			</div>
		</div>
	</body>
</html>
