@using System.Data.SqlClient;
@using System.Text
@using System.Security.Cryptography

@{

bool isWrong=false;

if (IsPost) {
	string username = Request["LogInUsername"];
	
	SHA1 sha1 = SHA1.Create();
    byte[] hashData = sha1.ComputeHash(Encoding.Default.GetBytes(Request["LogInPassword"]));
    StringBuilder returnValue = new StringBuilder();
    for (int i = 0; i < hashData.Length; i++)
    {
        returnValue.AppendFormat("{0:x2}", hashData[i]);
    }
    
	string password = returnValue.ToString();
	
	// Login checking code

	var db = Database.Open("eScorecard"); 
	var selectQueryString = "SELECT * FROM Employees WHERE Username COLLATE Latin1_General_CS_AS = '"+username+"' AND Password COLLATE Latin1_General_CS_AS = '"+password+"'";

	int count=0;
	foreach(var row in db.Query(selectQueryString)){
		count+=1;
	}

	if(count==1){
		Session["username"]=username;
		Response.BufferOutput = true;
		Response.Redirect("~/home.cshtml");
	}
	isWrong=true;
}
if(!IsPost || isWrong){

<!DOCTYPE html>
<html>
	<head>
		@RenderPage("~/shared/_includes.cshtml")
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="~/styles/Login.css">
	</head>
	<body>
		<div class="container-fluid">
			<form method="post" action="Login.cshtml" class="form-signin">
                <img src="media/TastewiseLogo.png" class="form-signin-heading logo">
				<input type="text" name="LogInUsername" class="form-control" placeholder="Username" autofocus="true" required>
				<input type="password" name="LogInPassword" class="form-control" placeholder="Password" required>
				<button type="submit" class="btn btn-default btn-block">Sign in</button>
				<hr>
				@if(isWrong){
					<span>incorrect username/password</span>
				}
			</form>
		</div>
	</body>
</html>
}
}