@{
    AuditC Audit = new AuditC(Int32.Parse(Request["AuditID"]));
    int PrintType = Int32.Parse(Request["PrintType"]);
    
    <head>
        @RenderPage("~/shared/_check_login.cshtml")
        <link rel="stylesheet" type="text/css" href="~/styles/printResults.css">
        <script src="~/shared/jquery/jquery-1.11.2.min.js"></script>
        
        <script>
            function skipSettings(){
                $("#prompt").hide();
                $("#content").show();
                window.print();
            }
            
            function Print(){
                if($("#hasComments").is(":checked")==false){
                    $(".commentContainer").hide();
                }
                
                if($("#hasActionPlans").is(":checked")==false){
                    $(".apContainer").hide();
                }
                
                $("#prompt").hide();
                $("#content").show();
                window.print();
            }
            
            $(function(){
                $("#print").click(Print);
                
                @if(PrintType!=4){
                    @: skipSettings();
                }
            });
        </script>
    </head>
    
    
    <body>
        <div id=content style="display: None;">
            <div class="CoverPage">
                <img src="media/TastewiseLogo.png" class="form-signin-heading logo"><br><br>
                @Html.Raw(Audit.getPrintHeader())
            </div><br><hr>
            
            @if(PrintType==0){
            } else if (PrintType>0){
                <table>
                    <tr><th><b>Name</b></th><th class=acceptableRange><b>Acceptable Range</b></th><th class=right><b>Score</b></th></tr>
                    @{
                        ServiceAreaC[] SAs = Audit.getServiceAreas();
                        foreach(ServiceAreaC SA in SAs){
                            @: @Html.Raw(SA.Print(Audit.getSAScore(SA)))
                            if(PrintType>1){
                                PKPAC[] PKPAs = Audit.getPKPAs(SA);
                                
                                foreach(PKPAC PKPA in PKPAs) {
                                    @: @Html.Raw(PKPA.Print(Audit.getPKPAScore(PKPA)))
                                    
                                    if(PrintType>2){
                                        CKPAC[] CKPAs = Audit.getCKPAs(PKPA);
                                        
                                        foreach(CKPAC CKPA in CKPAs) {
                                            @: @Html.Raw(CKPA.Print(Audit.getCKPAScore(CKPA)))
                                            
                                            if(PrintType>3){
                                                CompletedAuditFieldC[] Comps = Audit.getCompletedAuditFields(CKPA);
                                                
                                                foreach(CompletedAuditFieldC Comp in Comps) {
                                                    @: @Html.Raw(Comp.Print())
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                </table>
            }
        </div>
        
        <div id="prompt">
            <div class=Absolute-Center>
                <input type=checkbox id=hasComments>Include Comments<br>
                <input type=checkbox id=hasActionPlans>Include Action Plans<br><br>
                
                <button id=print>Print</button>
            </div>
        </div>
    </body>

}