@{	
	if (IsPost) { //If form data is filled in
		int ID = Int32.Parse(Request["ID"]);
		
		string[] SAs=Request["SAs"].Split(',');
		string[] PKPAs=Request["PKPAs"].Split(',');
		string[] CKPAs=Request["CKPAs"].Split(',');
        string[] KPIs=Request["KPIs"].Split(',');
        
		string[] PKPAWeightings=Request["PKPAWeightings"].Split(',');
		string[] CKPAWeightings=Request["CKPAWeightings"].Split(',');
        string[] KPIWeightings=Request["KPIWeightings"].Split(',');
	
		var db = Database.Open("eScorecard");
		var sql="";
        
		for(int i=0;i<SAs.Length;i+=1){
			sql="INSERT INTO SATemplateFields (SATemplate, PKPATemplate, CKPATemplate, KPITemplate, PKPAWeighting, CKPAWeighting, KPIWeighting) VALUES ("+ID+","+PKPAs[i]+","+CKPAs[i]+","+KPIs[i]+","+PKPAWeightings[i]+","+CKPAWeightings[i]+","+KPIWeightings[i]+")";
			db.Query(sql);
		}
		
		<html>
			<div id=reply>Your Service Area Template has been saved.</div>
			<script>
				window.setTimeout(window.top.close(),5000);
			</script>
		</html>
	}
    else { //no form data is filled in
		
		var db = Database.Open("eScorecard");
		
		var selectQueryString = "SELECT * FROM ServiceAreaTemplates WHERE ID="+Request.QueryString["ID"]; 
		var SATemplate = db.Query(selectQueryString);
		
		selectQueryString = "SELECT * FROM KPATemplates WHERE isParent=1"; 
		var PKPATemplateData = db.Query(selectQueryString);
		
		selectQueryString = "SELECT * FROM KPATemplates WHERE isParent=0"; 
		var CKPATemplateData = db.Query(selectQueryString);
		
		selectQueryString = "SELECT * FROM KPITemplates"; 
		var KPITemplateData = db.Query(selectQueryString);
		
		<html>
		
			<head>
				@RenderPage("~/shared/_includes.cshtml")
				@RenderPage("~/shared/_check_login.cshtml")
				<link rel="stylesheet" type="text/css" href="~/styles/setupSATemplate.css">
				
				<script>
                    
                    var PKPAs=[@foreach(var item in PKPATemplateData){
                        @Html.Raw("["+item.ID+",'"+item.Name+"'],");
                    }];
                    
                    var CKPAs=[@foreach(var item in CKPATemplateData){
                        @Html.Raw("["+item.ID+",'"+item.Name+"'],");
                    }];
                    
                    var KPIs=[@foreach(var item in KPITemplateData){
                        @Html.Raw("["+item.ID+",'"+item.Name+"'],");
                    }];
					
					addedSAs=[];
					
					function addPKPA(id){
                        for(var i=0;i<PKPAs.length;i++){
                            if(PKPAs[i][0]==id){
                                var pkpa=PKPAs[i];
                                break;
                            }
                        }
                        
						$("#pkpaList").append("<tr class=item><td class=PKPA data-id="+id+"><span class=\"glyphicon glyphicon-chevron-down expandList\"></span> "
							+pkpa[1]+"</input></td>"
							+"<td><input value=0 data-placement=left data-toggle=tooltip class='weighting PKPAweighting' type=\"number\" -data-id="+id+"></input>% Weighting<span class='glyphicon glyphicon-trash delete'></span></td></tr>");
					    
                        $(".weighting").each(function(ind, item){
                           checkWeightings($(item).parents().eq(1)); 
                        });
                        
                        $("#Itemmenu").empty();
                        usedItems=[]
                        $(findChildren($(".selected")).filter(function(it){
                            return($(it).children().eq(0).hasClass("PKPA"));
                        })).each(function(key, item){
                            usedItems.push(item.children().eq(0).data("id"))
                        });
                        
                        $.each(PKPAs, function(key,val) {
                            if($.inArray(val[0],usedItems)==-1){
                                $("#Itemmenu").append($("<option></option>")
                                    .attr("value", val[0]).text(val[1]));
                            }
                        });
                    }
					
					function addCKPA(id){
                        for(var i=0;i<CKPAs.length;i++){
                            if(CKPAs[i][0]==id){
                                var ckpa=CKPAs[i];
                                break;
                            }
                        }
                        
						$(".selected").after("<tr class='item'><td class=CKPA data-id="+id+"><span class=\"glyphicon glyphicon-chevron-down expandList\"></span>"
							+ckpa[1]+"</input></td>"
							+"<td><input value=0 data-placement=left data-toggle=tooltip class='weighting CKPAweighting' type=\"number\" -data-id="+id+"></input>% Weighting<span class='glyphicon glyphicon-trash delete'></span></td></tr>");
					    
                        $(".weighting").each(function(ind, item){
                           checkWeightings($(item).parents().eq(1)); 
                        });
                        
                        $("#Itemmenu").empty();
                        usedItems=[]
                        $(findChildren($(".selected")).filter(function(it){
                            return($(it).children().eq(0).hasClass("CKPA"));
                        })).each(function(key, item){
                            usedItems.push(item.children().eq(0).data("id"))
                        });
                        
                        $.each(CKPAs, function(key,val) {
                            if($.inArray(val[0],usedItems)==-1){
                                $("#Itemmenu").append($("<option></option>")
                                    .attr("value", val[0]).text(val[1]));
                            }
                        });
                    }
                    
                    function addKPI(id){
                        for(var i=0;i<KPIs.length;i++){
                            if(KPIs[i][0]==id){
                                var kpi=KPIs[i];
                                break;
                            }
                        }
                        
						$(".selected").after("<tr class='item'><td class=KPI data-id="+id+">"
							+kpi[1]+"</input></td>"
							+"<td><input value=0 data-placement=left data-toggle=tooltip class='weighting KPIweighting' type=\"number\" -data-id="+id+"></input>% Weighting<span class='glyphicon glyphicon-trash delete'></span></td></tr>");
					
                        $(".weighting").each(function(ind, item){
                           checkWeightings($(item).parents().eq(1)); 
                        });
                        
                        $("#Itemmenu").empty();
                        usedItems=[]
                        $(findChildren($(".selected")).filter(function(it){
                            return($(it).children().eq(0).hasClass("KPI"));
                        })).each(function(key, item){
                            usedItems.push(item.children().eq(0).data("id"))
                        });
                        
                        $.each(KPIs, function(key,val) {
                            if($.inArray(val[0],usedItems)==-1){
                                $("#Itemmenu").append($("<option></option>")
                                    .attr("value", val[0]).text(val[1]));
                            }
                        });
                    }
                    
                    function getVal(item){
                        var val=item.val();
                        if(val==""){
                            return(0.0);
                        } else {
                            return(parseFloat(val));
                        }
                    }
                    
                    function sumWeightings(item){
                        var siblings = $(findSiblings(item));
                        
                        var tot=0;
                        for(var i=0;i<siblings.length;i++){
                            tot += getVal(siblings[i].children().eq(1).children(".weighting"));
                        }
                        
                        return(tot);
                    }
                    
                    function checkWeightings(item){
                        var siblings = $(findSiblings(item));
                        var tot = sumWeightings(item);
                        
                        for(var i=0;i<siblings.length;i++){
                            siblings[i].children().eq(1).children(".weighting").attr("title","Total: "+tot+"%. Press '=' to equalize.");
                            if(tot!=100){
                                siblings[i].children().eq(1).children(".weighting").addClass("notHundred");
                            } else {
                                siblings[i].children().eq(1).children(".weighting").removeClass("notHundred");
                            }
                        }
                    }
                    
                    function equaliseWeightings(item){
                        var siblings = $(findSiblings(item));
                        var val = Math.round(100/siblings.length * 100);
                        var left = Math.round((100-(val*siblings.length)/100) * 100);
                        
                        for(var i=0;i<siblings.length;i++){
                            siblings[i].children().eq(1).children(".weighting").val(val/100);
                            if(i==siblings.length-1){
                                siblings[i].children().eq(1).children(".weighting").val((val+left)/100);
                            }
                        }
                        checkWeightings(item);
                    }
					
					function del(item){
						$("select option[value='"+item.children().eq(0).data("id")+"']").prop('disabled',false);
						kids=findChildren(item);
						for(kid in kids){
							$(kids[kid]).remove();
						}
                        
						$(item).remove();
                        
                        $(".weighting").each(function(ind, item){
                           checkWeightings($(item).parents().eq(1)); 
                        });
					}
					
					function findParents(item){
						it=$(item.prev());
						arr=[];
						try {
							if(item.children()[0].className=="PKPA"){
								while(it.children()[0].className!="SA" && it.is("tr")){
									it=$(it.prev());
								}
								arr.push(it);
							} else if(item.children()[0].className=="CKPA"){
								while(it.children()[0].className!="PKPA" && it.is("tr")){
									it=$(it.prev());
								}
								arr.push(it);
								
								while(it.children()[0].className!="SA" && it.is("tr")){
									it=$(it.prev());
								}
								arr.push(it);
							} else if(item.children()[0].className=="KPI"){
								while(it.children()[0].className!="CKPA" && it.is("tr")){
									it=$(it.prev());
								}
								arr.push(it);
                                
                                while(it.children()[0].className!="PKPA" && it.is("tr")){
									it=$(it.prev());
								}
								arr.push(it);
								
								while(it.children()[0].className!="SA" && it.is("tr")){
									it=$(it.prev());
								}
								arr.push(it);
							}
						} catch (err){}
						
						return(arr);
					}
					
					function findChildren(item){
						it=$(item.next());
						arr=[];
						try {
							if(item.children()[0].className=="CKPA"){
								while(it.children()[0].className=="KPI" && it.is("tr")){
									arr.push(it);
									it=$(it.next());
								}
							} else if(item.children()[0].className=="PKPA"){
								while(it.children()[0].className=="CKPA" || it.children()[0].className=="KPI" && it.is("tr")){
									arr.push(it);
									it=$(it.next());
								}
							} else if(item.children()[0].className=="SA"){
								while(it.children()[0].className=="CKPA" || it.children()[0].className=="KPI" || it.children()[0].className=="PKPA" && it.is("tr")){
									arr.push(it);
									it=$(it.next());
								}
							}
						} catch (err){}
						
						return(arr);
					}
                    
                    function findSiblings(item){
                        var parent=findParents(item)[0];
                        return($(findChildren(parent)).filter(function(ind, child){
                            if(child.children()[0].className==item.children()[0].className){
                                return(true);
                            }
                            return(false);
                        }));
                    }
					
					function checkTicks(item){
						children=findChildren(item);
						
						count=0
						for(child in children){
							if(children[child].children().eq(1).children()[0].checked){
								count+=1;
							}
						}
						item.children().eq(1).children()[0].checked=false;
						item.children().eq(1).children()[0].indeterminate=false;
						if(count==children.length){
							item.children().eq(1).children()[0].checked=true;
						} else if(count>0){
							item.children().eq(1).children()[0].checked=true;
							item.children().eq(1).children()[0].indeterminate=true;
						}
					}
					
					function ticked(item){
						if(item.children()[0].className=="SA"){
							state=item.children().eq(1).children()[0].checked;
							children=findChildren(item);
							for(child in children){
								$(children[child]).children().eq(1).children().eq(0).prop('checked', state);
								$(children[child]).children().eq(1).children()[0].indeterminate=false;
							}
						} else if(item.children()[0].className=="PKPA"){
							state=item.children().eq(1).children()[0].checked;
							children=findChildren(item);
							for(child in children){
								$(children[child]).children().eq(1).children().eq(0).prop('checked', state);
								$(children[child]).children().eq(1).children()[0].indeterminate=false;
							}
							
							parents=findParents(item);
							for(parent in parents){
								checkTicks(parents[parent]);
							}
						} else if (item.children()[0].className=="CKPA"){
							parents=findParents(item);
							for(parent in parents){
								checkTicks(parents[parent]);
							}
						}
					}
					
					function toggleList(item){
						var type=item.children()[0].className;
						var state=$(item.children()[0]).children()[0].className.split(" ")[2];
						item=$($(item).next());
						if(type=="PKPA"){
							while(item.children()[0].className!=type){
								if(state=="glyphicon-chevron-up"){
									item.hide();
								} else {
									item.show();
									try {
										if(item.children()[0].children[0].className.split(" ")[2]=="glyphicon-chevron-up" && item.children()[0].className=="PKPA"){
											while($(item.next()).children()[0].className=="CKPA"){
												item=$(item.next());
											}
										}
									} catch (err){}
								}
								item=$(item.next());
							}
						} else if(type=="CKPA"){
							while(item.children()[0].className=="KPI"){
								if(state=="glyphicon-chevron-up"){
									item.hide();
								} else {
									item.show();
								}
								item=$(item.next());
							}
						}
					}
					
					$(function () {
                        $('body').tooltip({
                            selector: '[rel=tooltip]'
                        });
                        
                        $(document).on("click", "tr", function (){
							$(".weighting").removeClass("disabled");
						});
                        
                        $(document).on("keyup", ".weighting", function (evt){
                            if(evt.keyCode==187){
                                equaliseWeightings($(this).parents().eq(1));
                            } 
                        });
                        
                        $("#pkpaList").on("click", ".item", function (){
                            $(".selected").removeClass("selected");
                            if(!$(this).children().eq(0).hasClass("KPI")){
							    $(this).addClass("selected");
                            }
                            
                            if($(this).children().eq(0).hasClass("SA")){
                                $("#Itemmenu").empty();
                                usedItems=[]
                                $(findChildren($(".selected")).filter(function(it){
                                    return($(it).children().eq(0).hasClass("PKPA"));
                                })).each(function(key, item){
                                    usedItems.push(item.children().eq(0).data("id"))
                                });
                                
                                $.each(PKPAs, function(key,val) {
                                    if($.inArray(val[0],usedItems)==-1){
                                        $("#Itemmenu").append($("<option></option>")
                                            .attr("value", val[0]).text(val[1]));
                                    }
                                });
                                
                                $("#addButton").text("Add Parent KPA");
                                
                                $("#addButton").addClass("addPKPA");
                                $("#addButton").removeClass("addCKPA");
                                $("#addButton").removeClass("addKPI");
                            } else if($(this).children().eq(0).hasClass("PKPA")){
                                $("#Itemmenu").empty();
                                usedItems=[]
                                $(findChildren($(".selected")).filter(function(it){
                                    return($(it).children().eq(0).hasClass("CKPA"));
                                })).each(function(key, item){
                                    usedItems.push(item.children().eq(0).data("id"))
                                });
                                
                                $.each(CKPAs, function(key,val) {
                                    if($.inArray(val[0],usedItems)==-1){
                                        $("#Itemmenu").append($("<option></option>")
                                            .attr("value", val[0]).text(val[1]));
                                    }
                                });
                                
                                $("#addButton").text("Add Child KPA");
                                
                                $("#addButton").removeClass("addPKPA");
                                $("#addButton").addClass("addCKPA");
                                $("#addButton").removeClass("addKPI");
                            } else if($(this).children().eq(0).hasClass("CKPA")){
                                $("#Itemmenu").empty();
                                usedItems=[]
                                $(findChildren($(".selected")).filter(function(it){
                                    return($(it).children().eq(0).hasClass("KPI"));
                                })).each(function(key, item){
                                    usedItems.push(item.children().eq(0).data("id"))
                                });
                                
                                $.each(KPIs, function(key,val) {
                                    if($.inArray(val[0],usedItems)==-1){
                                        $("#Itemmenu").append($("<option></option>")
                                            .attr("value", val[0]).text(val[1]));
                                    }
                                });
                                
                                $("#addButton").text("Add KPI");
                                
                                $("#addButton").removeClass("addPKPA");
                                $("#addButton").removeClass("addCKPA");
                                $("#addButton").addClass("addKPI");
                            }
						});
                        
                        $("#pkpaList").on("mouseover", ".item", function (){
							$(this).addClass("hover");
						});
                        
                        $("#pkpaList").on("mouseout", ".item", function (){
                            $(this).removeClass("hover");
						});
                        
                        $(document).on("input", ".weighting", function (evt){
                            checkWeightings($(this).parents().eq(1));
                        });
                        
                        $(document).on("click", ".weighting", function (evt){
                            evt.stopPropagation();
                            $(".weighting").addClass("disabled");
                            
                            var siblings=$(findSiblings($(this).parents().eq(1)));
                            siblings.each(function(ind,sib){
                                sib.children().eq(1).children(".weighting").removeClass("disabled")
                            });
                            checkWeightings($(this).parents().eq(1));
						});
                        
						$(document).on("click", ".addPKPA", function (){
							addPKPA($("#Itemmenu").val());
                            if($(".selected").children().eq(0).children().eq(0).hasClass("glyphicon-chevron-up")){
                                $(".selected").children().eq(0).children().eq(0).click();
                            }
						});
                        
                        $(document).on("click", ".addCKPA", function (){
							addCKPA($("#Itemmenu").val());
                            if($(".selected").children().eq(0).children().eq(0).hasClass("glyphicon-chevron-up")){
                                $(".selected").children().eq(0).children().eq(0).click();
                            }
						});
                        
                        $(document).on("click", ".addKPI", function (){
							addKPI($("#Itemmenu").val());
                            if($(".selected").children().eq(0).children().eq(0).hasClass("glyphicon-chevron-up")){
                                $(".selected").children().eq(0).children().eq(0).click();
                            }
						});
						
						$(document).on("click", ".expandList", function (){
							$(this).toggleClass("glyphicon-chevron-up");
							$(this).toggleClass("glyphicon-chevron-down");
							toggleList($($(this).parents().eq(1)));
						});
						
						$(document).on("click", ".checkItem", function (){
							ticked($($(this).parents().eq(1)));
						});
						
						$(document).on("click", ".delete", function (){
                            
                            $.each(findChildren($(this).parents().eq(1)),function(ind,child){
                                del(child);
                            });
                            del($(this).parents().eq(1));
                            
						});
						
						$("#Submit").click(function () {
							
							sas="";
							pkpas="";
							ckpas="";
                            kpis="";
                            
                            pkpaweightings="";
                            ckpaweightings="";
                            kpiweightings="";
							
							items=$(".KPI");
                            
                            hasOne=false;
                            $(".item").each(function(ind,item){
                                if(!$(item).children(0).hasClass("SA")){
                                    if(sumWeightings($(item))!=100){
                                        if(!hasOne){
                                            alert("Please ensure all weightings add up to 100%.");
                                            hasOne=true;
                                        }
                                    }
                                }
                            });
                            if(hasOne){
                                return;
                            }
							for(item=0; item<items.length; item+=1){
                                if(ckpas.length!=0){
                                    kpis=kpis+",";
                                    ckpas=ckpas+",";
                                    pkpas=pkpas+",";
                                    sas=sas+",";
                                    pkpaweightings=pkpaweightings+",";
                                    ckpaweightings=ckpaweightings+",";
                                    kpiweightings=kpiweightings+",";
                                }
                                rents=findParents($(items[item]).parent());
                                
                                kpis=kpis+$(items[item]).data("id");
                                ckpas=ckpas+$(rents[0]).children().eq(0).data("id");
                                pkpas=pkpas+$(rents[1]).children().eq(0).data("id");
                                sas=sas+$(rents[2]).children().eq(0).data("id");
                                
                                kpiweightings+=parseFloat($(items[item]).next().children(".weighting").val())/100;
                                ckpaweightings+=parseFloat($(rents[0]).children().eq(1).children(".weighting").val())/100;
                                pkpaweightings+=parseFloat($(rents[1]).children().eq(1).children(".weighting").val())/100;
							}
							
							var data = {ID: @Request.QueryString["ID"], KPIs: kpis, CKPAs: ckpas, PKPAs: pkpas, SAs: sas, PKPAWeightings: pkpaweightings, CKPAWeightings: ckpaweightings, KPIWeightings: kpiweightings};
		
							console.log(data);
		
							$.post("/setupSATemplate.cshtml", data)
							.done(function (data) {
								$("body").replaceWith(data)
							}).fail(function(xhr, textStatus, errorThrown) {
								alert("Connection Failed, Check Internet Connection.");
							});
						});
						
					});
					
				</script>
			</head>
			
			<body>
				<div id=content>
					<table id=layoutTable>
						<tr id=headerTR>
							<td id=headerTD>
								<div class=header><h1>Set up Service Area: @SATemplate.First().Name</h1></div>
								<div class=header><select id=Itemmenu>
									@foreach(var row in PKPATemplateData){
										<option value=@row.ID>@row.Name</option>
									}
								</select> <button id=addButton class=addPKPA>Add Parent KPA</button></div>
								<button id=Submit>Submit</button>
							</td>
						</tr>
						<tr id=bodyTR>
							<td id=bodyTD>
								<div id=pkpaListwrapper id=listwrapper>
								<table id=pkpaList>
									<tr><th>Name</th><th>Weighting</th></tr>
                                    <tr class="item selected"><td class=SA data-id=@SATemplate.First().ID>@SATemplate.First().Name</td><td></td></tr>
								</table>
								</div>
							</td>
						</tr>
				</div>
			</body>
		
		</html>
	}
}