<%@Page Language="C#" Debug="true" %>

@{
	if(IsPost){

        Item it = new Item();
        
		var db = Database.Open("eScorecard");

		var selectQueryString = Request["sql"];
        var grid = new WebGrid(db.Query(selectQueryString));
        
		<div id=content>@grid.GetHtml()</div>

	} else {
		@RenderPage("~/shared/_includes.cshtml")
		<textarea style="width: 100%;height: 200px" id="sql"></textarea><br>
		<button id="Submit">Execute Query</button>
        <div style="width: 100%;height: auto;" id="result"></div>

		<script>
			$("#Submit").click(function () {
				var data = {sql: $("#sql").val()};

				console.log(data);

				$.post("sql.cshtml", data)
				.done(function (data) {
					$("#result").html(data);
				}).fail(function(xhr, textStatus, errorThrown) {
					$("#result").html(xhr.responseText);
				});
			});
		</script>
	}
}