<html>
    <head>
        <script src="~/shared/jquery/jquery-1.11.2.min.js"></script>
        <script>
            $(function(){
                $.ajaxSetup({xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                console.log(percentComplete);
                                $(".progressBar").animate({width: percentComplete*100+"%"});
                            }
                        }, false);
                        
                        xhr.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            $(".progressBar").animate({width: (1-percentComplete)*100+"%"});
                        }
                        }, false);
                        
                        return xhr;
                    }
                });
                
                $.ajax({url: "/doAudit.cshtml?ID="+@Request.QueryString["ID"], success: function(result){
                    $("body").html(result);
                }});
            });
        </script>
    </head>
    <body>
        <div style="background-color: red; height: 10px" class=progressBar></div>
    </body>
</html>