@using System.Linq;
@using System;
@using System.Collections.Generic;

@functions {
        public decimal roundPercent(decimal percent) {
            return percent;
        }
    }

@{
    
    var db = Database.Open("eScorecard");
    var audit=db.Query("SELECT *, AuditTemplates.ID AS AuditTemplateID, AuditTemplates.Name AS AuditName, Stores.Name AS StoreName FROM Audits LEFT JOIN AuditTemplates ON Audits.Type=AuditTemplates.ID LEFT JOIN Employees ON Audits.Super=Employees.ID LEFT JOIN Stores ON Audits.Store=Stores.ID WHERE Audits.ID="+Request.QueryString["ID"]);

    var CompletedFields=db.Query("SELECT * FROM CompletedAuditFields LEFT JOIN KPIs ON CompletedAuditFields.KPI=KPIs.ID LEFT JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE CompletedAuditFields.AuditID="+@audit.First().ID);
    
    Dictionary<int, bool> KPIWs = new Dictionary<int, bool>();
    Dictionary<int, decimal> CKPAWs = new Dictionary<int, decimal>();
    Dictionary<int, decimal> PKPAWs = new Dictionary<int, decimal>();
    Dictionary<int, decimal> SAWs = new Dictionary<int, decimal>();
        
    decimal total=0;
    decimal totaldivisor=0;
    
    foreach(var Field in CompletedFields){
        if(!CKPAWs.ContainsKey(Field.Parent)){
            CKPAWs.Add(Field.Parent, 0);
        }
        if(Field.InputType==1 || Field.InputType==4){
            if(Field.Input <= Field.RangeMax && Field.Input >= Field.RangeMin){
                CKPAWs[Field.Parent]+=Convert.ToDecimal(Field.Weighting*100);
                KPIWs[Field.KPI]=true;
            } else {
                KPIWs[Field.KPI]=false;
            }
        } else if(Field.InputType==2){
            if(Convert.ToBoolean(Field.Input) == Field.Boolean){
                CKPAWs[Field.Parent]+=Convert.ToDecimal(Field.Weighting*100);
                KPIWs[Field.KPI]=true;
            } else {
                KPIWs[Field.KPI]=false;
            }
        } else if(Field.InputType==3){
            if(Field.Input >= Field.Rating){
                CKPAWs[Field.Parent]+=Convert.ToDecimal(Field.Weighting*100);
                KPIWs[Field.KPI]=true;
            } else {
                KPIWs[Field.KPI]=false;
            }
        }
    }
    
    foreach(var CKPAid in CKPAWs.Keys.ToList()){
        var KPIs=db.Query("SELECT * FROM KPIs WHERE Parent="+CKPAid);
        decimal tot=0;
        foreach(var KPI in KPIs){
            if(KPIWs.ContainsKey(KPI.ID)){
                tot+=Convert.ToDecimal(KPI.Weighting*100);
            }
        }
        CKPAWs[CKPAid]=CKPAWs[CKPAid]/tot;
        
        var CKPA = db.Query("SELECT * FROM KPAs WHERE ID="+CKPAid).First();
        if(!PKPAWs.ContainsKey(CKPA.Parent)){
            PKPAWs.Add(CKPA.Parent, 0);
        }
        
        PKPAWs[CKPA.Parent]+=CKPAWs[CKPAid]*CKPA.Weighting*100;
    }
    
    foreach(var PKPAid in PKPAWs.Keys.ToList()){
        var CKPAs=db.Query("SELECT * FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE isParent=0 AND Parent="+PKPAid);
        decimal tot=0;
        foreach(var CKPA in CKPAs){
            if(CKPAWs.ContainsKey(CKPA.ID)){
                tot+=Convert.ToDecimal(CKPA.Weighting*100);
            }
        }
        PKPAWs[PKPAid]=PKPAWs[PKPAid]/tot;
        
        var PKPA = db.Query("SELECT * FROM KPAs WHERE ID="+PKPAid).First();
        if(!SAWs.ContainsKey(PKPA.Parent)){
            SAWs.Add(PKPA.Parent, 0);
        }
        
        SAWs[PKPA.Parent]+=Convert.ToDecimal(PKPAWs[PKPAid]*PKPA.Weighting*100);
    }
    
    foreach(var SAid in SAWs.Keys.ToList()){
        var PKPAs=db.Query("SELECT * FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE isParent=1 AND Parent="+SAid);
        decimal tot=0;
        foreach(var PKPA in PKPAs){
            if(PKPAWs.ContainsKey(PKPA.ID)){
                tot+=Convert.ToDecimal(PKPA.Weighting*100);
            }
        }
        SAWs[SAid]=SAWs[SAid]/tot;
        
        var SA = db.Query("SELECT * FROM ServiceAreas WHERE ID="+SAid).First();
        
        total+=Convert.ToDecimal(SAWs[SAid]*SA.Weighting*100);
        totaldivisor+=Convert.ToDecimal(SA.Weighting*100);
    }
    
    <html>
    
        <head>
            @RenderPage("~/shared/_includes.cshtml")
            @RenderPage("~/shared/_check_login.cshtml")
            <link rel="stylesheet" type="text/css" href="~/styles/viewAuditResult.css">
            <script src="~/shared/scripts/PopUps.js"></script>
            <script>
                
                $(function () {
                    
                    $(".addInfo").click(function () {
                        $(".modal-body").html($(this).parent().siblings().eq(0).children(".addInfoContent").html());
                        $("#InfoModal").modal("show");
                    });
                    
                    $(".descriptionWrapper").click(function () {
                        $(".modal-title").html("View Description");
                        $(".modal-body").html($(this).html());
                        $(".modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>");
                        $("#InfoModal").modal("show");
                    });
                    
                    $(".comment").click(function () {
                        $(".modal-title").html("View Comment");
                        $(".modal-body").html("<textarea placeholder=\"No comment\" class=\"commentArea\" disabled></textarea>");
                        $(".commentArea").val($(this).parent().siblings().eq(0).data("comment"));
                        $(".commentArea").data("kpiID",$(this).parent().siblings().eq(0).data("id"));
                        $(".modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>");
                        $("#InfoModal").modal("show");
                    });
                    
                    $(".legend").click(function() {
                        $(".modal-title").html("Legend");
                        $(".modal-body").html($(".legendContent").html());
                        $("#InfoModal").modal("show");
                    });
                    
                    $(".printType").click(function(){
                        window.open("/printAuditResults.cshtml?PrintType="+$(this).data("type")+"&AuditID=@Request.QueryString["ID"]");
                    })
                    
                    $(".selected").attr('checked',true);
                    $("input").attr('disabled',true);
                });
            </script>	
        </head>
        
        <body>
            <div id=content>
                <table id=layoutTable>
                    <tr id=headerTR>
                        <td id=headerTD>
                            <div class=header><h1>Result of @audit.First().AuditName audit</h1>@audit.First().DateScheduled.ToString("dd/MM/yyyy")<br>@audit.First().StoreName
                            <span class=right><h1>Grand Total: @(((decimal)((Math.Round((decimal)(total/totaldivisor*100), 2)))).ToString())%</h1>
                                <span class=menu>
                                    <span class="legend">Legend <span class="glyphicon glyphicon-th-list"></span></span>
                                    <span class="print dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Print
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a data-type=1 class="printType" href="#">All Service Areas</a></li>
                                            <li><a data-type=2 class="printType" href="#">All Parent KPAs</a></li>
                                            <li><a data-type=3 class="printType" href="#">All Child KPAs else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a data-type=4 class=printType href="#">All KPIs</a></li>
                                        </ul>
                                    </span>
                                </span>
                            </span>
                            </div>
                        </td>
                    </tr>
                    <tr id=bodyTR>
                        <td id=bodyTD>
                            <div id=saListwrapper id=listwrapper>
                            <table id=saList>
                                <tr><th>Name</th><th class="description">Description</th><th class="input">Score</th><th class="AdditionalInfo">Additonal Information</th></tr>
                                @{
                                    
                                    var pSA=0;
                                    var pPKPA=0;
                                    var pCKPA=0;
                                    List<int> usedKPIs = new List<int>();
                                    
                                    foreach(var Field in CompletedFields) {
                                        
                                        var KPI=db.Query("SELECT * FROM KPIs LEFT JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE KPIs.ID="+Field.KPI)[0];
                                        var CKPA=db.Query("SELECT KPATemplates.*, KPAs.ID as ckpaID, KPAs.Parent FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPAs.ID="+KPI.Parent);
                                        var PKPA=db.Query("SELECT KPATemplates.*, KPAs.ID as pkpaID, KPAs.Parent FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPAs.ID="+CKPA[0].Parent);
                                        var SA=db.Query("SELECT ServiceAreaTemplates.*, ServiceAreas.ID AS saID FROM ServiceAreas LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID WHERE ServiceAreas.ID="+PKPA[0].Parent);

                                        var pNoncons=db.Query("SELECT * FROM Nonconformities LEFT JOIN CompletedAuditFields ON Nonconformities.CompletedAuditField=CompletedAuditFields.ID WHERE KPI="+Field.KPI+" AND FollowUpAudit="+Request.QueryString["ID"]);
                                        var Noncons=db.Query("SELECT * FROM Nonconformities WHERE CompletedAuditField="+Field.ID);

                                        var kpistr="SELECT * FROM KPIs INNER JOIN KPAs AS CKPAs ON KPIs.Parent=CKPAs.ID INNER JOIN KPAs AS PKPAs ON CKPAs.Parent=PKPAs.ID INNER JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID INNER JOIN KPITemplates ON KPIs.Type=KPITemplates.ID WHERE KPIs.ID="+Field.KPI;
                                        
                                        foreach(var kpi in usedKPIs){
                                            kpistr+=" AND KPIs.ID!="+kpi;
                                        }
                                        
                                        var KPIs=db.Query(kpistr+" ORDER BY ServiceAreas.ID, PKPAs.ID, CKPAs.ID");
                                        var acceptableValues="";
                                        
                                        if(SA.Count>0){
                                            if(pSA!=SA[0][0]){
                                                pSA=SA[0][0];
                                                pPKPA=0;
                                                pCKPA=0;
                                                <tr class=SAtr>
                                                <td class=SA data-id="@SA[0].saID">
                                                    <b>@SA[0][1]</b>
                                                    <div class=addInfoContent id="SA@(SA[0].saID)">
                                                        @RenderPage("~/ajax/view/minimalViewServiceArea.cshtml", new {selectedID=SA[0].saID})
                                                    </div>
                                                </td><td class="description"></td>
                                                <td class=saScore>@(roundPercent(SAWs[SA[0].saID]*100))%</td>
                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                            </tr>
                                            }
                                        }
                                        if(PKPA.Count>0){
                                            if(pPKPA!=PKPA[0][0]){
                                                pPKPA=PKPA[0][0];
                                                pCKPA=0;
                                                <tr class=PKPAtr>
                                                <td class=PKPA data-id="@PKPA[0].pkpaID">
                                                    @PKPA[0][1]
                                                    <div class=addInfoContent id="PKPA@(PKPA[0].pkpaID)">@RenderPage("~/ajax/view/minimalViewPKPA.cshtml", new {selectedID=PKPA[0].pkpaID})</div>
                                                </td><td class="description"></td><td class=pkpaScore>@(((decimal)((Math.Round((decimal)PKPAWs[PKPA[0].pkpaID]*100, 2)))).ToString())%</td>
                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                            </tr>
                                            }
                                        }
                                        if(CKPA.Count>0){
                                            if(pCKPA!=CKPA[0][0]){
                                                pCKPA=CKPA[0][0];
                                                <tr>
                                                    <td class=CKPA data-id="@CKPA[0].ckpaID">
                                                        @CKPA[0][1]
                                                        <div class=addInfoContent id="CKPA@(CKPA[0].ckpaID)">@RenderPage("~/ajax/view/minimalViewCKPA.cshtml", new {selectedID=CKPA[0].ckpaID})</div>
                                                    </td><td class="description"></td><td class=ckpaScore>@(((decimal)((Math.Round((decimal)CKPAWs[CKPA[0].ckpaID]*100, 2)))).ToString())%</td>
                                                <td class=AdditionalInfo><img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img></td>
                                                </tr>
                                            }
                                        }
                                        
                                        var acceptClass=" unacceptable";
                                        if(KPIWs[Field.KPI]==true){
                                            acceptClass=" acceptable";
                                        }
                                        
                                        <tr>
                                            
                                            @if(pNoncons.Count>0){
                                                <td class="KPI Noncon" data-comment="@Field.Comment" data-id="@KPI.ID" data-fid="@Field.KPI">
                                                    @KPI.Name
                                                    <div class=addInfoContent id="kpi@(KPI.ID)">
                                                        @RenderPage("~/ajax/view/minimalViewKPI.cshtml", new {selectedID=KPI.ID})
                                                        @if(pNoncons.Count>0){
                                                            <br><h3>Nonconformities coming into audit:</h3><br>
                                                            foreach(var pNoncon in pNoncons){
                                                                @RenderPage("~/ajax/view/minimalViewNonconformity.cshtml", new { selectedID = pNoncon.ID})
                                                            }
                                                        }
                                                        
                                                        @if(Noncons.Count>0){
                                                            <br><h3>Nonconformities coming out of audit:</h3><br>
                                                            foreach(var Noncon in Noncons){
                                                                @RenderPage("~/ajax/view/minimalViewNonconformity.cshtml", new { selectedID = Noncon.ID})
                                                            }
                                                        }
                                                        </div>
                                                </td>
                                            } else {
                                                <td class=KPI  data-comment="@Field.Comment" data-id="@KPI.ID" data-fid="@Field.KPI">
                                                    @KPI.Name
                                                    <div class=addInfoContent id="kpi@(KPI.ID)">
                                                        @RenderPage("~/ajax/view/minimalViewKPI.cshtml", new {selectedID=KPI.ID})
                                                        @if(pNoncons.Count>0){
                                                            <br><h3>Nonconformities coming into audit:</h3><br>
                                                            foreach(var pNoncon in pNoncons){
                                                                @RenderPage("~/ajax/view/minimalViewNonconformity.cshtml", new { selectedID = pNoncon.ID})
                                                            }
                                                        }
                                                        
                                                        @if(Noncons.Count>0){
                                                            <br><h3>Nonconformities coming out of audit:</h3><br>
                                                            foreach(var Noncon in Noncons){
                                                                @RenderPage("~/ajax/view/minimalViewNonconformity.cshtml", new { selectedID = Noncon.ID})
                                                            }
                                                        }
                                                        </div>
                                                </td>
                                            }
                                            
                                            <td class=description>
                                                <div class="descriptionWrapper">
                                                    @if(@KPI.Description==""){
                                                        <span class=NoDesc>None</span>
                                                    } else {
                                                        @KPI.Description
                                                    }
                                                </div>
                                            </td>
                                            
                                            @if(KPI.InputType==1){
                                                <td data-type=1 class="kpiScore @acceptClass">
                                                    Value: @Field.Input @KPI.Units
                                                </td>
                                            } else if(KPI.InputType==2){
                                                <td data-type=2 class="kpiScore @acceptClass">
                                                    <form class=boolean action="">
                                                        @if(Field.Input==1){
                                                            <input type="radio" name=Bool class="True selected" value=1  selected> <span>True</span>
                                                            <input type="radio" name=Bool class=False value=0 > <span>False</span>
                                                        } else {
                                                            <input type="radio" name=Bool class="True" value=1 > <span>True</span>
                                                            <input type="radio" name=Bool class="False selected" value=0  selected> <span>False</span>
                                                        }
                                                    </form>
                                                </td>
                                            } else if(KPI.InputType==3){
                                                <td data-type=3 class="kpiScore @acceptClass">
                                                    <form class=rating action="">
                                                        @if(Field.Input==1){
                                                            <input type="radio" name=rating class="True selected" value=1> <span>1</span>
                                                        } else {
                                                            <input type="radio" name=rating class="True" value=1> <span>1</span>
                                                        } @if(Field.Input==2){
                                                            <input type="radio" name=rating class="True selected" value=2> <span>2</span>
                                                        } else {
                                                            <input type="radio" name=rating class="True" value=2> <span>2</span>
                                                        } @if(Field.Input==3){
                                                            <input type="radio" name=rating class="True selected" value=3> <span>3</span>
                                                        } else {
                                                            <input type="radio" name=rating class="True" value=3> <span>3</span>
                                                        } @if(Field.Input==4){
                                                            <input type="radio" name=rating class="True selected" value=4> <span>4</span>
                                                        } else {
                                                            <input type="radio" name=rating class="True" value=4> <span>4</span>
                                                        } @if(Field.Input==5){
                                                            <input type="radio" name=rating class="True selected" value=5> <span>5</span>
                                                        } else {
                                                            <input type="radio" name=rating class="True" value=5> <span>5</span>
                                                        }
                                                    </form>
                                                </td>
                                            } else if(KPI.InputType==4){
                                                <td data-type=4 class="kpiScore @acceptClass">
                                                    @Field.Input seconds
                                                </td>
                                            }
                                            
                                            <td class=AdditionalInfo>
                                                <img src="http://tastewisescorecard.azurewebsites.net/media/i.png" class="addInfo"></img>
                                                <img src="http://tastewisescorecard.azurewebsites.net/media/c.png" class="comment"></img>
                                            </td>
                                        </tr>
                                        usedKPIs.Add(KPI.ID);
                                    }
                                }
                            
                            </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id=InfoDiv data-AuditID="@Request.QueryString["ID"]"></div>
            
            <!-- Bootstrap Modal -->
            <div class="modal fade" id="InfoModal">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h3 class="modal-title"></h3>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer"><p id=acceptableValues></p>
                    <button type="button" class="btn btn-default">Close</button>
                    </div>
                    <div class=progressBar></div>
                </div>
                
                </div>
            </div>
            <div class=legendContent>
                <ul class="legendul">
                    <li>A red 'Name' column shows that coming into the audit, this KPI was a nonconformance</li>
                    <li>A red 'Score' column shows that coming out of the audit, this KPI was a nonconformance</li>
                    <li>Click on the <span class="glyphicon glyphicon-info-sign"></span> button in the 'Additional Info' column to get details on the KPI and its nonconformancies.</li>
                </ul>
            </div>
            
        </body>
    
    </html>
}