@{
	var db = Database.Open("eScorecard");
    var selectedID=Page.selectedID.ToString();
	var SA=db.Query("SELECT ServiceAreas.ID, ServiceAreas.Weighting*100 AS Weighting, ServiceAreaTemplates.Name, ServiceAreaTemplates.Policy, Stores.Name AS Store, Regions.Name AS Region FROM ServiceAreas LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID LEFT JOIN Stores ON ServiceAreas.Parent=Stores.ID LEFT JOIN Regions ON Stores.Region=Regions.ID WHERE ServiceAreas.ID="+selectedID);
    var CurrentUser=db.Query("SELECT Position, AccountType FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Username='"+Session["username"]+"'");

    var sql="SELECT * FROM ServiceAreaMedia LEFT JOIN ServiceAreas ON ServiceAreaMedia.ServiceArea=ServiceAreas.ID WHERE ServiceAreas.ID="+selectedID;
    var Images=db.Query(sql);

	<script>
		$(function () {
    		$(".modal-title").html("View Service Area");
            $(".modal-footer").html('<button type="button" class="btn btn-default closebtn">Close</button>');
		});
	</script>

	<div>
        <b>Service Area ID:</b> @SA[0].ID<br>
		<b>Name:</b> @SA[0].Name<br>
        <b>Path:</b> @SA[0].Region > @SA[0].Store<br>
        <b>Weighting:</b> @SA[0].Weighting%<br>
		<b>Description:</b><br>
        @if(@SA[0].Policy==""){
            <span class=NoDesc>None</span>
        } else {
            <span>@SA[0].Policy</span>
        }
        
        @if(Images.Count!=0){
            <br><b>Images:</b><br>
            foreach(var image in Images){
                <br><br><img class=Image src="@image.URI">
            }
        }
	</div>
}