@{
	var db = Database.Open("eScorecard");
    var selectedID=Page.selectedID.ToString();
	var KPI=db.Query("SELECT KPIs.ID, KPIs.Type AS KPITemplate, KPIs.Weighting*100 AS Weighting, KPITemplates.Units, KPITemplates.Name, KPITemplates.Description, KPITemplates.InputType, KPITemplates.RangeMin, KPITemplates.RangeMax, KPITemplates.Boolean, KPITemplates.Rating, KPATemplates.Name AS CKPA, ServiceAreaTemplates.Name AS SA, Stores.Name AS Store, Regions.Name AS Region, PKPATemplates.Name AS PKPA FROM KPIs LEFT JOIN KPITemplates ON KPIs.Type=KPITemplates.ID LEFT JOIN KPAs ON KPIs.Parent=KPAs.ID LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID LEFT JOIN KPAs PKPAs ON KPAs.Parent=PKPAs.ID LEFT JOIN KPATemplates PKPATemplates ON PKPAs.Type=PKPATemplates.ID LEFT JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID LEFT JOIN Stores ON ServiceAreas.Parent=Stores.ID LEFT JOIN Regions ON Stores.Region=Regions.ID WHERE KPIs.ID="+selectedID);
    var CurrentUser=db.Query("SELECT Position, AccountType FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Username='"+Session["username"]+"'");

    var sql="SELECT * FROM KPIMedia LEFT JOIN KPIs ON KPIMedia.KPI=KPIs.ID WHERE KPIs.ID="+selectedID;
    var Images=db.Query(sql);
    
    sql="SELECT KPISuperLinks.ID,Positions.Title FROM KPISuperLinks LEFT JOIN Positions ON KPISuperLinks.Position=Positions.ID WHERE KPITemplate="+KPI[0].KPITemplate;
    var Supers=db.Query(sql);

    <script>
		$(function () {
    		$(".modal-title").html("View KPI");
            $(".modal-footer").html('<button type="button" class="btn btn-default closebtn">Close</button>');
		});
	</script>

	<div>
        <b>KPI ID:</b> @KPI[0].ID<br>
		<b>Name:</b> @KPI[0].Name<br>
        <b>Path:</b> @KPI[0].Region > @KPI[0].Store<br>> @KPI[0].SA > @KPI[0].PKPA > @KPI[0].CKPA<br>
        <b>Weighting:</b> @KPI[0].Weighting%<br>
		<b>Input Type:</b> 
        @if(KPI[0].InputType==1){
            <span>Number Range</span>
        } else if(KPI[0].InputType==2){
            <span>True/False</span>
        } else if(KPI[0].InputType==3){
            <span>Rating</span>
        } else if(KPI[0].InputType==4){
            <span>Duration</span>
        }<br>
        <b>Acceptable values: </b> 
        @if(KPI[0].InputType==1){
            <span>@(KPI[0].RangeMin)@KPI[0].Units <= Acceptable Values <= @(KPI[0].RangeMax)@KPI[0].Units</span>
        } else if(KPI[0].InputType==2){
            <span>@KPI[0].Boolean</span>
        } else if(KPI[0].InputType==3){
            <span>Rating > @KPI[0].Rating</span>
        } else if(KPI[0].InputType==4){
            <span>@KPI[0].RangeMin <= Acceptable Duration(seconds) <= @KPI[0].RangeMax</span>
        }<br>
        <b>Description:</b><br>
        @if(@KPI[0].Description==""){
            <span class=NoDesc>None</span>
        } else {
            <span>@KPI[0].Description</span>
        }<br>
        
        Supervising Positions:<br>
        <select id=supervisors multiple>
            @foreach(var super in Supers){
                <option val=@super.ID>@super.Title</option>
            }
        </select>
        
        @if(Images.Count!=0){
            <br><b>Images:</b><br>
            foreach(var image in Images){
                <br><br><img class=Image src="@image.URI">
            }
        }
	</div>
}