@{  
    using(NonconformityC Noncon = new NonconformityC(Page.selectedID)){
        using(EmployeeGenerator empgen = new EmployeeGenerator()) {
        
            EmployeeC[] responsiblepeople = empgen.genByPositionsAndStore(Noncon.getCompletedAuditField().getKPI().getTemplate().getResponsiblePositions(),Noncon.getOriginalAudit().getStore());
            using(AuditC orgininalAudit = Noncon.getOriginalAudit()) {
                using(CompletedAuditFieldC comp = Noncon.getCompletedAuditField()){
                    <b>Original AuditID: </b>@orgininalAudit.getID()<br>
                    <b>Name of original Audit: </b>@orgininalAudit.getName()<br>
                    <b>Date of original Audit Completion: </b>@orgininalAudit.getCompletionString()<br>
                    <b>Comment: </b><br>
                    @Html.Raw(comp.getCommentHtml())<br>
                    using(EmployeeC Super = orgininalAudit.getSuper()){
                        <b>Original Auditor: </b>@Super.getFullName()<br>
                    }
                    @comp.getInputDisplay()
                    <br><br>
                    <b>Staff Members Responsible:</b><br>
                    <table class=Responsible>
                        <tbody style="display: inherit;width: inherit;">
                            <tr><th>Name</th><th>Position</th></tr>
                            @foreach(var person in responsiblepeople){
                                <tr><td>@person.getFullName()</td><td>@person.getPosition().getTitle()</td></tr>
                            }
                        </tbody>
                    </table>
                    <br><br>
                    <b>Corrective Action Plan: </b><br>
                    @Html.Raw(Noncon.getActionPlanHtml())
                }
            }
        }
    }
}