@{
	var db = Database.Open("eScorecard");
    var selectedID=Page.selectedID.ToString();
	var CKPA=db.Query("SELECT KPAs.ID, KPAs.Type AS KPATemplate, KPAs.Weighting*100 AS Weighting, KPATemplates.Name, KPATemplates.Policy, ServiceAreaTemplates.Name AS SA, Stores.Name AS Store, Regions.Name AS Region, PKPATemplates.Name AS PKPA FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID LEFT JOIN KPAs PKPAs ON KPAs.Parent=PKPAs.ID LEFT JOIN KPATemplates PKPATemplates ON PKPAs.Type=PKPATemplates.ID LEFT JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID LEFT JOIN Stores ON ServiceAreas.Parent=Stores.ID LEFT JOIN Regions ON Stores.Region=Regions.ID WHERE KPAs.ID="+selectedID);
    var CurrentUser=db.Query("SELECT Position, AccountType FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Username='"+Session["username"]+"'");

    var sql="SELECT * FROM KPAMedia LEFT JOIN KPAs ON KPAMedia.KPA=KPAs.ID WHERE KPAs.ID="+selectedID;
    var Images=db.Query(sql);
    
    sql="SELECT KPASuperLinks.ID,Positions.Title FROM KPASuperLinks LEFT JOIN Positions ON KPASuperLinks.Position=Positions.ID WHERE KPATemplate="+CKPA[0].KPATemplate;
    var Supers=db.Query(sql);

	<script>
		$(function () {
    		$(".modal-title").html("View Child KPA");
            $(".modal-footer").html('<button type="button" class="btn btn-default closebtn">Close</button>');
		});
	</script>

	<div>
        <b>Child KPA ID:</b> @CKPA[0].ID<br>
		<b>Name:</b> @CKPA[0].Name<br>
        <b>Path:</b> @CKPA[0].Region > @CKPA[0].Store<br>> @CKPA[0].SA > @CKPA[0].PKPA<br>
        <b>Weighting:</b> @CKPA[0].Weighting%<br>
		<b>Description:</b><br>
        @if(@CKPA[0].Policy==""){
            <span class=NoDesc>None</span>
        } else {
            <span>@CKPA[0].Policy</span>
        }<br>
        
        Supervising Positions:<br>
        <select id=supervisors multiple>
            @foreach(var super in Supers){
                <option val=@super.ID>@super.Title</option>
            }
        </select>
        
        @if(Images.Count!=0){
            <br><b>Images:</b><br>
            foreach(var image in Images){
                <br><br><img class=Image src="@image.URI">
            }
        }
	</div>
}