@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
	var CKPA=db.Query("SELECT KPAs.ID, KPAs.Type AS KPATemplate, KPAs.Weighting*100 AS Weighting, KPATemplates.Name, KPATemplates.Policy, ServiceAreaTemplates.Name AS SA, Stores.Name AS Store, Regions.Name AS Region, PKPATemplates.Name AS PKPA FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID LEFT JOIN KPAs PKPAs ON KPAs.Parent=PKPAs.ID LEFT JOIN KPATemplates PKPATemplates ON PKPAs.Type=PKPATemplates.ID LEFT JOIN ServiceAreas ON PKPAs.Parent=ServiceAreas.ID LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID LEFT JOIN Stores ON ServiceAreas.Parent=Stores.ID LEFT JOIN Regions ON Stores.Region=Regions.ID WHERE KPAs.ID="+Request.QueryString["selectedID"]);
    var CurrentUser=db.Query("SELECT Position, AccountType FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Username='"+Session["username"]+"'");

    var sql="SELECT * FROM KPAMedia LEFT JOIN KPAs ON KPAMedia.KPA=KPAs.ID WHERE KPAs.ID="+Request.QueryString["selectedID"];
    var Images=db.Query(sql);
    
    sql="SELECT KPASuperLinks.ID,Positions.Title FROM KPASuperLinks LEFT JOIN Positions ON KPASuperLinks.Position=Positions.ID WHERE KPATemplate="+CKPA.First().KPATemplate;
    var Supers=db.Query(sql);

	<script>
		$(function () {
    		$(".modal-title").html("View Child KPA");
		});
	</script>

	<div>
        <b>Child KPA ID:</b> @CKPA.ElementAt(0).ID<br>
		<b>Name:</b> @CKPA.ElementAt(0).Name<br>
        <b>Path:</b> @CKPA.ElementAt(0).Region > @CKPA.ElementAt(0).Store<br>> @CKPA.ElementAt(0).SA > @CKPA.ElementAt(0).PKPA<br>
        <b>Weighting:</b> @CKPA.ElementAt(0).Weighting%<br>
		<b>Description:</b><br>
        @if(@CKPA.ElementAt(0).Policy==""){
            <span class=NoDesc>None</span>
        } else {
            <span>@CKPA.ElementAt(0).Policy</span>
        }<br>
        
        Supervising Positions:<br>
        <select id=supervisors multiple>
            @foreach(var super in Supers){
                <option val=@super.ID>@super.Title</option>
            }
        </select>
        
        @if(Images.Count()!=0){
            <br><b>Images:</b><br>
            foreach(var image in Images){
                <br><br><img class=Image src="@image.URI">
            }
        }
	</div>

	if (CurrentUser.ElementAt(0).AccountType==1) {
		<script>
            $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Edit</button>');
        </script>
	} else {
	}
}