@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
	var Store=db.Query("SELECT Stores.ID, Stores.Name, Stores.Address, Stores.ContactNumber, Stores.Storenumber, Stores.Email, Employees.FirstName, Employees.LastName, Regions.Name AS Region FROM Stores Left Join Employees ON Stores.Super=Employees.ID LEFT JOIN Regions ON Stores.Region=Regions.ID WHERE Stores.ID="+Request.QueryString["selectedID"]);
    var CurrentUser=db.Query("SELECT Position, AccountType FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Username='"+Session["username"]+"'");

	<script>
		$(function () {
    		$(".modal-title").html("View Store");
		});
	</script>

	<div>
		<b>Name:</b> @Store.ElementAt(0).Name<br>
        <b>eScorecard ID:</b> @Store.ElementAt(0).ID<br>
		<b>Store Number:</b> @Store.ElementAt(0).StoreNumber<br>
        <b>Region:</b> @Store.ElementAt(0).Region<br>
        <b>Manager:</b> @Store.ElementAt(0).FirstName @Store.ElementAt(0).LastName<br>
        <b>Address:</b> @Store.ElementAt(0).Address<br>
        <b>ContactNumber:</b> @Store.ElementAt(0).ContactNumber<br>
        <b>Email Address:</b> @Store.ElementAt(0).Email<br>
	</div>

	if (CurrentUser.ElementAt(0).AccountType==1) {
		<script>
            $(".modal-footer").append('<button onclick=\"showOverlay(\'ajax/modify/modifyStore.cshtml\',@Request.QueryString["selectedID"])\" type="button" class="btn btn-default SubmitPopUp">Edit</button>');
        </script>
	} else {
	}
}