@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
	var Position=db.Query("SELECT Positions.ID, Positions.Title, Positions.Description, Positions.AccountType, SuperPos.Title AS Super FROM Positions LEFT JOIN Positions SuperPos ON Positions.Super=SuperPos.ID WHERE Positions.ID="+Request.QueryString["selectedID"]);
    var CurrentUser=db.Query("SELECT Position, AccountType FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Username='"+Session["username"]+"'");

	<script>
		$(function () {
    		$(".modal-title").html("View Position");
		});
	</script>

	<div>
        <b>Position ID:</b> @Position.ElementAt(0).ID<br>
		<b>Title:</b> @Position.ElementAt(0).Title<br>
        <b>Supervisor Position:</b> @Position.ElementAt(0).Super<br>
		<b>Description:</b><br>
        @if(@Position.ElementAt(0).Description==""){
            <span class=NoDesc>None</span>
        } else {
            <span>@Position.ElementAt(0).Description</span>
        }<br>
		<b>Permission Type: </b>
        @if(Position.ElementAt(0).AccountType==1){
            <span>Super Admin</span>
        } else if (Position.ElementAt(0).AccountType==2){
            <span>User Admin</span>
        } else if (Position.ElementAt(0).AccountType==3){
            <span>Standard User</span>
        }
	</div>

	if (CurrentUser.ElementAt(0).AccountType==1) {
		<script>
            $(".modal-footer").append('<button onclick=\"showOverlay(\'ajax/modify/modifyPosition.cshtml\',@Request.QueryString["selectedID"])\" type="button" class="btn btn-default SubmitPopUp">Edit</button>');
        </script>
	} else {
	}
}