@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
    
    ServiceAreaC SA = new ServiceAreaC(Int32.Parse(Request.QueryString["selectedID"]));
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);

    var sql="SELECT * FROM ServiceAreaMedia LEFT JOIN ServiceAreas ON ServiceAreaMedia.ServiceArea=ServiceAreas.ID WHERE ServiceAreas.ID="+SA.getID();
    var Images=db.Query(sql);

	<script>
		$(function () {
    		$(".modal-title").html("View Service Area");
		});
	</script>

	<div>
        <b>Service Area ID:</b> @SA.getID()<br>
		<b>Name:</b> @SA.getName()<br>
        <b>Path:</b> @SA.getParentStore().getRegion().getName() > @SA.getParentStore().getName()<br>
        <b>Weighting:</b> @(SA.getWeighting())%<br>
		<b>Description:</b><br>
        @Html.Raw(SA.getTemplate().getPolicyHtml())
        
        @if(Images.Count()!=0){
            <br><b>Images:</b><br>
            foreach(var image in Images){
                <br><br><img class=Image src="@image.URI">
            }
        }
	</div>

	if (CurrentUser.getAccountType()==1) {
		<script>
            $(".modal-footer").append('<button onclick=\"showOverlay(\'ajax/modify/modifyServiceAreaTemplate.cshtml\',@SA.getType())\" type="button" class="btn btn-default SubmitPopUp">Edit Template</button>');
        </script>
	} else {
	}
}