@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
    
    EmployeeC Employee = new EmployeeC(Int32.Parse(Request.QueryString["selectedID"] as string));
    EmployeeC CurrentUser=new EmployeeC(Session["username"] as string);

	<script>
		$(function () {
    		$(".modal-title").html("View Employee");
		});
	</script>

	<div>
        <b>eScoreCard ID: </b> @Employee.getID()<br>
        <b>Employee Number: </b> @Employee.getEmployeeNumber()<br>
		<b>Name: </b>@Employee.getFullName()<br>
		<b>National ID: </b>@Html.Raw(Employee.getIDNumberHtml())<br>
        <b>Contact Number: </b>@Employee.getContactNumber()<br>
        <b>Email: </b>@Employee.getEmail()<br><br>
        
        
        <b>Username: </b>@Employee.getUsername()<br>
        <b>Position: </b>@Employee.getPosition().getTitle()<br>
        <b>Store: </b>
        @Html.Raw(Employee.getStoreHtml())<br>
		<b>Supervisor: </b>@Employee.getSupervisor().getFullName()<br>
		<b>Permission Type: </b>
        @Employee.getPosition().getAccountTypeString()
	</div>

	if (CurrentUser.getAccountType()==1) {
		<script>
            $(".modal-footer").append('<button onclick=\"showOverlay(\'ajax/modify/modifyEmployee.cshtml\',@Request.QueryString["selectedID"])\" type="button" class="btn btn-default SubmitPopUp">Edit</button>');
        </script>
	} else {
	}
}