@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
	var audit=db.Query("SELECT * FROM Audits LEFT JOIN AuditTemplates ON Audits.Type=AuditTemplates.ID LEFT JOIN Employees ON Audits.Super=Employees.ID WHERE Audits.ID="+Request.QueryString["selectedID"]);

	<script>
		$(function () {
    		$(".modal-title").html("View Audit");
		});
	</script>

	<div>
        <b>Audit ID:</b> @audit.ElementAt(0).ID<br>
		<b>Audit Type:</b> @audit.ElementAt(0).Name<br>
		<b>Audit Date:</b> @audit.ElementAt(0).DateScheduled<br>
		<b>Auditor:</b> @audit.ElementAt(0).FirstName @audit.ElementAt(0).LastName
	</div>

	if (audit.ElementAt(0).Username==(string) (Session["username"]) && audit.ElementAt(0).Completed==false) {
		if(audit.ElementAt(0).DateScheduled.Date==DateTime.Today.Date){
			<script>
				$(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp" onclick="window.open(\'/doAudit.cshtml?ID=@Request.QueryString["selectedID"]\',\'_blank\');">Start Audit</button>');
			</script>
		} else if (audit.ElementAt(0).DateScheduled.Date<DateTime.Today.Date){
			<script>
				$(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp" disabled>Audit date has passed</button>');
			</script>
		} else {
			<script>
				$(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp" disabled>Audit cannot be started yet</button>');
			</script>
		}
	} else {
        <script>
            $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp" onclick="window.open(\'/viewAuditResult.cshtml?ID=@Request.QueryString["selectedID"]\',\'_blank\');">View Results</button>');
        </script>
	}
}