@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
	var Region=db.Query("SELECT * FROM Regions WHERE ID="+Request.QueryString["selectedID"]);
    var CurrentUser=db.Query("SELECT Position, AccountType FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Username='"+Session["username"]+"'");

	<script>
		$(function () {
    		$(".modal-title").html("View Region");
		});
	</script>

	<div>
        <b>Region ID:</b> @Region.ElementAt(0).ID<br>
		<b>Name:</b> @Region.ElementAt(0).Name<br>
        <b>Head Office Street Address: </b>@Region.ElementAt(0).Location<br>
		<b>Description:</b><br>
        @if(@Region.ElementAt(0).Description==""){
            <span class=NoDesc>None</span>
        } else {
            <span>@Region.ElementAt(0).Description</span>
        }<br>
	</div>

	if (CurrentUser.ElementAt(0).AccountType==1) {
		<script>
            $(".modal-footer").append('<button onclick=\"showOverlay(\'ajax/modify/modifyRegion.cshtml\',@Request.QueryString["selectedID"])\" type="button" class="btn btn-default SubmitPopUp">Edit</button>');
        </script>
	} else {
	}
}