@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	var db = Database.Open("eScorecard");
    
    PKPAC PKPA = new PKPAC(Int32.Parse(Request.QueryString["selectedID"]));
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);
    
    var sql="SELECT * FROM KPAMedia LEFT JOIN KPAs ON KPAMedia.KPA=KPAs.ID WHERE KPAs.ID="+Request.QueryString["selectedID"];
    var Images=db.Query(sql);
    
    EmployeeC[] Supers = PKPA.getSupers();

	<script>
		$(function () {
    		$(".modal-title").html("View Parent KPA");
		});
	</script>

	<div>
        <b>Parent KPA ID:</b> @PKPA.getID()<br>
		<b>Name:</b> @PKPA.getTemplate().getName()<br>
        <b>Path:</b> @PKPA.getParentStore().getRegion().getName() > @PKPA.getParentStore().getName()<br>> @PKPA.getParentSA().getTemplate().getName()<br>
        <b>Weighting:</b> @(PKPA.getWeighting())%<br>
		<b>Description:</b><br>
        @Html.Raw(PKPA.getTemplate().getPolicyHtml())
        <br>
        
        <b>Supervising Positions: </b><br>
        @if(Supers.Length>0){
            <table id=supervisors multiple>
                @foreach(var super in Supers){
                    <tr>
                        <td>@super.getFullName()</td>
                    </tr>
                }
            </table>
        } else {
            <span class=noDesc>None</span>
        }
        
        @if(Images.Count()!=0){
            <br><b>Images:</b><br>
            foreach(var image in Images){
                <br><br><img class=Image src="@image.URI">
            }
        }
	</div>

	if (CurrentUser.getAccountType()==1) {
		<script>
            $(".modal-footer").append('<button onclick=\"showOverlay(\'ajax/modify/modifyPKPATemplate.cshtml\',@PKPA.getType())\" type="button" class="btn btn-default SubmitPopUp">Edit Template</button>');
        </script>
	} else {
	}
}