@{
    if (IsPost) { //If form data is filled in
        string isDate = Request["isDate"];
        
        var db = Database.Open("eScorecard");
        
        if(isDate=="0"){
            var sql = "SELECT Audits.ID, AuditTemplates.Name AS AuditName, Audits.DateScheduled, Stores.Name, Audits.Completed FROM Audits Left Join Stores ON Audits.Store=Stores.ID LEFT JOIN AuditTemplates ON Audits.Type=AuditTemplates.ID LEFT JOIN Employees ON Audits.Super=Employees.ID WHERE CAST(Audits.DateScheduled AS DATE) <= CAST(DATEADD(day,7, GETDATE()) AS DATE)  AND CAST(Audits.DateScheduled AS DATE) >= CAST(GETDATE() AS DATE) AND Employees.Username='"+Session["username"]+"' ORDER BY Audits.DateScheduled";
            
            var Events = db.Query(sql);
            
            <div class="heading panel-heading"><div class="btn-group" role="group">
                <button data-value=0 type="button" class="btn btn-default eventsTypeBtn eventsSelected">Upcoming Audits</button>
                <button data-value=1 type="button" class="btn btn-default eventsTypeBtn">Audits On Selected Date</button>
            </div></div><div class="events"><ul class="list-group eventList">
            
            @foreach(var row in Events){
                if(row.Completed==false) {
                    if(row.DateScheduled.Date==DateTime.Today.Date){
                        <li class="list-group-item list-group-item-success event" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                    } else if(row.DateScheduled.Date<DateTime.Today.Date) {
                        <li class="list-group-item list-group-item-danger event" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                    } else {
                        <li class="list-group-item list-group-item-info event" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                    }
                } else {
                    <li class="list-group-item list-group-item-success event grey" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                }
            }
            </ul>
            </div>
        } else if(isDate=="1"){
            string selectedDate = Request["selectedDate"];
            
            var sql = "SELECT Audits.ID, AuditTemplates.Name AS AuditName, Audits.DateScheduled, Stores.Name, Audits.Completed FROM Audits Left Join Stores ON Audits.Store=Stores.ID LEFT JOIN AuditTemplates ON Audits.Type=AuditTemplates.ID LEFT JOIN Employees ON Audits.Super=Employees.ID WHERE CAST(Audits.DateScheduled AS DATE)='"+selectedDate+"'  AND Employees.Username='"+Session["username"]+"' ORDER BY Audits.DateScheduled";
            
            var Events = db.Query(sql);
            
            <div class="heading panel-heading"><div class="btn-group" role="group">
                <button data-value=0 type="button" class="btn btn-default eventsTypeBtn">Upcoming Audits</button>
                <button data-value=1 type="button" class="btn btn-default eventsTypeBtn eventsSelected">Audits On Selected Date</button>
            </div></div><div class="events"><ul class="list-group eventList">
                @foreach(var row in Events){
                    if(row.Completed==false) {
                        if(row.DateScheduled.Date==DateTime.Today.Date){
                            <li class="list-group-item list-group-item-success event" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                        } else if(row.DateScheduled.Date<DateTime.Today.Date) {
                            <li class="list-group-item list-group-item-danger event" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                        } else {
                            <li class="list-group-item list-group-item-info event" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                        }
                    } else {
                        <li class="list-group-item list-group-item-success event grey" eventID=@row.ID>@row.AuditName audit at @row.Name on @row.DateScheduled.ToString("dd/MM/yyyy HH:mm tt")</li>
                    }
                }
            </ul>
            </div>
        }
    }
    
    <div class=legend>
        <div class="legendItem list-group-item-success grey">Completed</div>
        <div class="legendItem list-group-item-success">Available</div>
        <div class="legendItem list-group-item-info">Upcoming</div>
        <div class="legendItem list-group-item-danger">Not Completed</div>
    </div>
}