<div class=modal-body style="text-align:center;">
<h4>Are you sure?</h4>
<button type="button" class="btn btn-default" onclick="window.location = 'Logout.cshtml'">Yes</button>
<button type="button" class="btn btn-default" onclick="history.back()">No</button>
</div>