@using System.Text
@using System.Security.Cryptography

@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    
	if (IsPost) { //If form data is filled in
		string FirstName = Request["firstname"];
		string LastName = Request["lastname"];
        string Store = Request["store"];
		string Number = Request["number"];
		string IDnum = Request["idnum"];
		string Email = Request["email"];
		string Username = Request["username"];
        string ImageData = Request.Unvalidated["ImageData"];
        string ImageName = Request["ImageName"];
        string EmployeeNumber = Request["employeenumber"];
        
        SHA1 sha1 = SHA1.Create();
        byte[] hashData = sha1.ComputeHash(Encoding.Default.GetBytes(Request["password"]));
        StringBuilder returnValue = new StringBuilder();
        for (int i = 0; i < hashData.Length; i++)
        {
            returnValue.AppendFormat("{0:x2}", hashData[i]);
        }
        
		string Password = returnValue.ToString();
        
		int Position = int.Parse(Request["position"]);
		int Super = int.Parse(Request["super"]); 

		//connect to db and construct query with form data
		var db = Database.Open("eScorecard");
		var selectQueryString = "INSERT INTO Employees (FirstName, LastName, ContactNumber, IDNumber, Store, Username, Password, Email, Position, Super, Image, EmployeeNumber) VALUES ('"+FirstName+"','"+LastName+"','"+Number+"', '"+IDnum+"',"+Store+",'"+Username+"','"+Password+"','"+Email+"',"+Position+","+Super+",'','"+EmployeeNumber+"')"; 

		//execute query
		db.Query(selectQueryString);

		//return confirmation
		<p>New Employee added</p>
        <script>
            $(".modal-title").html("New Employee");
            refreshTree();
        </script>
        
		}
		else //no form data is filled in
		{
            StoreGenerator storesgen = new StoreGenerator();
            StoreC[] stores = storesgen.genAll();
            
            EmployeeC Super = new EmployeeC(Convert.ToInt32(Request.QueryString["selectedID"]));

            <script> //Replaces the overlay with the return from a refresh with form data
                $(function () {
                    $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Add Employee</button>');
                    $(".modal-title").html("New Employee");
                    
                    $("#Submit").click(function () {
                        var data = {firstname: $("#FirstName").val(), lastname: $("#LastName").val(), idnum: $("#IDnum").val(), email: $("#Email").val(), store: $("#Store").val(), number: $("#Number").val(), position: $("#Position").val(), super: $("#Super").val(), username: $("#Username").val(), password: $("#Password").val(), ImageData: '', ImageName: '', employeenumber: $("#employeenumber").val()};
                    
                        console.log(data);
                        
                        $.post("ajax/newEmployee.cshtml", data, proccessData=false)
                        .done(function (data) {
                            $(".modal-content").html(data);
                        });
                    });
                });
            </script>
            
            //connects to the eScorecard db
            var db = Database.Open("eScorecard");

            var sql="SELECT Position FROM Employees WHERE ID="+Request.QueryString["selectedID"].ToString();
            var SuperPos=db.Query(sql).ToArray()[0].Position;
            
            sql = "SELECT * FROM Positions WHERE NOT ID=1 AND Super="+SuperPos;
            var posData=db.Query(sql);

            sql = "SELECT * FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID WHERE Employees.Position="+SuperPos;
            var empData=db.Query(sql);

            //The form
            <div>
                First Name: <br><input type=text id="FirstName"></input><br>
                Last Name: <br><input type=text id="LastName"></input><br>
                Employee Number: <br><input type=text id="employeenumber"></input><br>
                National ID Number: <br><input type=text id="IDnum"></input><br>
                Phone Number: <br><input type=text id="Number"></input><br>
                Email Address: <br><input type=text id="Email"></input><br><br>
                
                Store:<br>
                <select id=Store>
                    <option value=NULL>None</option>
                    @foreach(StoreC store in stores){
                        if(store.getID()==Super.getStoreID()) {
                            <option value=@store.getID() selected>@store.getName()</option>
                        } else {
                            <option value=@store.getID()>@store.getName()</option>
                        }
                    }
                </select><br>
                Position:<br><select id="Position">
                @foreach(var row in posData) {
                    <option value="@row.ID">@row.Title</option>
                }
                </select><br>
                
                Supervisor:<br><select id="Super">
                @foreach(var row in empData) {
                    if(row.ID!=1){
                        <option value="@row.ID">@row.FirstName @row.LastName - @row.Title</option>
                    } else {
                        <option value="@row.ID">@row.FirstName @row.LastName</option>
                    }
                }
                </select><br><br>

                <script>
                    $("#Super").val("@Request.QueryString["selectedID"]");
                    $("#Position").val("@posData.ToArray()[0].ID");
                </script>

                Username: <br><input type=text id="Username"></input><br>
                Password: <br><input type=password id="Password"></input><br>
                
                <br>Profile Image<br><input style="width: 200px;margin-left: auto;margin-right: auto;" id="Image" type="file" accept="image/jpeg, image/png"><br>
                
                <script>
                    $("#Super").val("@Request.QueryString["selectedID"]");
                    $("#Position").val("@posData.ToArray()[0].ID");
                </script>
            </div>
    }
}

