@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    if (IsPost) { //If form data is filled in
        string Name = Request["name"]; 
        string Description = Request["Description"]; 
        string InputType = Request["InputType"];
        string Input = Request["Input"];
        string[] Supers = Request["supers[]"].Split(',');

        //connect to db and construct query with form data
        var db = Database.Open("eScorecard");
        
        var param="";
        if(InputType=="1"){
            param="RangeMin, RangeMax, Units";
        } else if(InputType=="2"){
            param="Boolean";
            if(Input=="true"){
                Input="1";
            } else {
                Input="0";
            }
        } else if(InputType=="3"){
            param="Rating";
        } else if(InputType=="4"){
            param="RangeMin, RangeMax";
        }
        
        var selectQueryString = "INSERT INTO KPITemplates (Name, Description, InputType,"+param+") VALUES ('"+Name+"','"+Description+"',"+InputType+","+Input+")"; 

        //execute query
        db.Query(selectQueryString);

        //add Super links
        selectQueryString="SELECT IDENT_CURRENT('KPITemplates') AS ID";
		var id=db.Query(selectQueryString).First().ID;
        
        foreach(var super in Supers){
            selectQueryString = "INSERT INTO KPISuperLinks (Position, KPITemplate) VALUES ("+super+","+id+")";
            db.Query(selectQueryString);
        }

        //return confirmation
        <p>New KPI Template added</p>
        
        <script>
            $(".modal-title").html("New KPI Type");
            window.setTimeout(function (){showOverlay('/ajax/newKPI.cshtml', @Request.QueryString["selectedID"])},2000);
        </script>
    }
    else //no form data is filled in
    {
        var db = Database.Open("eScorecard");
        var selectQueryString = "SELECT * FROM Positions"; 
        
        var Positions = db.Query(selectQueryString);

        <script> //Replaces the overlay with the return from a refresh with form data
            function checkInputTypes(){
                $(".InputType").hide();
                
                var type=$("#InputSelector").val();
                if(type==1){
                    $("#Num").show();
                } else if(type==2){
                    $("#Bool").show();
                } else if(type==3){
                    $("#Rating").show();
                } else if(type==4){
                    $("#Time").show();
                }
            }
            
            $(function () {
                $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Add Type</button>');
                $(".modal-title").html("New KPI Type");
                
                $("#Submit").click(function () {
                    var type=$("#InputSelector").val();
                    var data = {name: $("#name").val(), Description: $("#description").val(), InputType: type, supers: $("#supervisors").val()};
                    
                    if(type==1){
                        data["Input"]=$("#RangeMin").val()+","+$("#RangeMax").val()+",'"+$("#Units").val()+"'";
                    } else if(type==2){
                        data["Input"]=$("#isTrue")[0].checked;
                    } else if(type==3){
                        data["Input"]=$("input[name=rating]:checked").val();
                    } else if(type==4){
                        data["Input"]=$("#TimeMin").val()+","+$("#TimeMax").val();
                    }
                    
                    console.log(data);
                    
                    $.post("ajax/newKPITemplate.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
                
                checkInputTypes();
                
                $("#InputSelector").change(function() {
                    checkInputTypes();
                });
            });
        </script>
        
        //The form.
        <div style="position: relative;">
            Name: <br><input type=text id="name"><br>
            Description: <br>
            <textarea style="max-height:300px;max-width:300px;" id="description"></textarea><br>
            Indicator Type: <br><select id=InputSelector>
				<option value=1>Number Range</option>
				<option value=2>True/False</option>
				<option value=3>Rating(1-5)</option>
				<option value=4>Duration</option>
			</select><br><br>
			<div class=InputType id=Num>
                Please enter the range of acceptable values:<br>
				<input type=text id=RangeMin class=RangeInput> <= Acceptable Values <= <input type=text id=RangeMax class=RangeInput><br>
                Units: <input id="Units" type=text>
			</div>
			<div class=InputType id=Bool>
                Please enter the correct answer:<br>
				<form>
					<input type=radio id=isTrue name=bool> True <input type=radio name=bool> False
				</form>
			</div>
			<div class=InputType id=Rating>
                Please enter the minimum correct rating:<br>
                <form>
                    <input type=radio value=1 name=rating> 1
                    <input type=radio value=2 name=rating> 2
                    <input type=radio value=3 name=rating> 3
                    <input type=radio value=4 name=rating> 4
                    <input type=radio value=5 name=rating> 5
                </form>
			</div>
			<div class=InputType id=Time>
                Please enter the range of acceptable durations(in seconds):<br>
				<input type=text id=TimeMin class=RangeInput> <= Correct Duration <= <input type=text id=TimeMax class=RangeInput>
			</div><br>
            Select Supervisor Positions:<br>
            <select id=supervisors class="form-control" multiple>
                @foreach(var pos in Positions){
                    <option value=@pos.ID>@pos.Title</option>
                }
            </select>
        </div>
    }
}