@{	
	if(Session["username"]!=null){
        if (IsPost) {
            Layout="~/Layouts/PopUpLayout.cshtml";
            var db = Database.Open("eScorecard");
            
            var Noncs=Request["Noncs"].Split(',');
            var ActionPlans=Request["ActionPlans"].Split(',');
            var FollowUps=Request["FollowUps"].Split(',');
            
            for(int i=0;i<Noncs.Length;i++){
                if(FollowUps[i]!=""){
                    NonconformityC noncon = new NonconformityC();
                    noncon.setCompletedAuditField(Int32.Parse(Noncs[i]));
                    noncon.setActionPlan(ActionPlans[i]);
                    if(FollowUps[i]=="NULL"){
                        noncon.setFollowUpAudit(null);
                    } else {
                        noncon.setFollowUpAudit(Int32.Parse(FollowUps[i]));
                    }
                    
                    noncon.saveNew();
                }
            }
            
            <span>Your Action Plans have been saved.</span>
            <script>
                setTimeout(function(){window.top.close()},2000);
                $(".modal-title").html("Action Plans Saved");
            </script>
        }
    }   
}