@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    if (IsPost) { //If form data is filled in
        string title = Request["title"]; 
        int super = int.Parse(Request["super"]);
        string description = Request["description"]; 

        //connect to db and construct query with form data
        var db = Database.Open("eScorecard");
        var selectQueryString = "INSERT INTO Positions (Title, Super, Description) VALUES ('"+title+"',"+super+",'"+description+"')"; 

        //execute query
        db.Query(selectQueryString);

        //return confirmation
        <p>New Position added</p>
        <script>
            $(".modal-title").html("New Position");
            refreshTree();
        </script>
    }
    else //no form data is filled in
    {

        <script> //Replaces the overlay with the return from a refresh with form data
            $(function () {
                $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Add Position</button>');
                $(".modal-title").html("New Position");
                $("#Submit").click(function () {
                    var data = {title: $("#title").val(), super: $("#super").val(), description: $("#description").val()};
                    $.post("ajax/newPosition.cshtml", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            });
        </script>
        
        //connects to the eScorecard db
        var db = Database.Open("eScorecard");
        var selectQueryString = "SELECT * FROM Positions"; 

        //The form.
        <div>
            Title: <br><input type=text id="title"></input><br>
            Supervisor:<br><select id="super">
            @foreach(var row in db.Query(selectQueryString)) {
                <option value="@row.ID">@row.Title</option>
            }
            </select><br><br>

            <script>
                $("#super").val("@Request.QueryString["selectedID"]");
            </script>

            Description: <br>
            <textarea style="max-height:300px;max-width:300px;" id="description"></textarea><br>
        </div>
    }
}

