@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    if (IsPost) { //If form data is filled in
        string Name = Request["name"]; 
        string Policy = Request["policy"];
        string[] Supers = Request["supers[]"].Split(',');

        //connect to db and construct query with form data
        var db = Database.Open("eScorecard");
        var selectQueryString = "INSERT INTO KPATemplates (Name, Policy, isParent) VALUES ('"+Name+"','"+Policy+"',1)"; 

        //execute query
        db.Query(selectQueryString);

        //add Super links
        selectQueryString="SELECT IDENT_CURRENT('KPATemplates') AS ID";
		var id=db.Query(selectQueryString).First().ID;
        
        foreach(var super in Supers){
            selectQueryString = "INSERT INTO KPASuperLinks (Position, KPATemplate) VALUES ("+super+","+id+")";
            db.Query(selectQueryString);
        }

        //return confirmation
        <p>New Parent KPA Template added</p>
        
        <script>
            $(".modal-title").html("New Parent KPA Type");
            window.setTimeout(function (){showOverlay('/ajax/newPKPA.cshtml', @Request.QueryString["selectedID"])},2000);
        </script>
    }
    else //no form data is filled in
    {
        var db = Database.Open("eScorecard");
        var selectQueryString = "SELECT * FROM Positions"; 
        
        var Positions = db.Query(selectQueryString);

        <script> //Replaces the overlay with the return from a refresh with form data
            $(function () {
                $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Add Type</button>');
                $(".modal-title").html("New Parent KPA Type");
                $("#Submit").click(function () {
                    var data = {name: $("#name").val(), policy: $("#description").val(), supers: $("#supervisors").val()};
                    $.post("ajax/newPKPATemplate.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            });
        </script>
        
        //The form.
        <div style="position: relative">
            Name: <br><input type=text id="name"></input><br>
            Description: <br>
            <textarea style="max-height:300px;max-width:300px;" id="description"></textarea><br>
            Select Supervisor Positions:<br>
            <select id=supervisors class="form-control" multiple>
                @foreach(var pos in Positions){
                    <option value=@pos.ID>@pos.Title</option>
                }
            </select>
        </div>
    }
}

