@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    
    if (IsPost) { //If form data is filled in
        string Type = Request["type"]; 
        string Parent = Request["parent"]; 
        string Weighting = (float.Parse(Request["weighting"])/100).ToString();

        //connect to db
        var db = Database.Open("eScorecard");
        
        //change all weightings
        
        var selectQueryString = "SELECT * FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE Parent="+Parent+" AND isParent=1";
        var siblingIDs = db.Query(selectQueryString);
        
        foreach (var row in siblingIDs)     
        {
            @RenderPage("~/ajax/modify/modifyKPAWeighting.cshtml", row.ID, Request[row.ID.ToString()])
        }
        
        //construct query
        selectQueryString = "INSERT INTO KPAs (Type, Parent, Weighting) VALUES ("+Type+","+Parent+","+Weighting+")";

        //execute query
        db.Query(selectQueryString);

        //return confirmation
        <p>New Parent KPA added</p>
        <script>
            $(".modal-title").html("New Parent KPA");
            refreshTree();
        </script>
    }
    else //no form data is filled in
    {
        
        var selectedID=Request.QueryString["selectedID"];
    
        var db = Database.Open("eScorecard");
        
        var selectQueryString = "SELECT * FROM KPATemplates WHERE isParent=1"; 
        var templateData = db.Query(selectQueryString);
        
        List<int> appliedTemplates = new List<int>();
        
        selectQueryString = "SELECT * FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPATemplates.isParent=1 AND Parent="+selectedID; 
        var appliedTemplateData = db.Query(selectQueryString);
        
        foreach(var row in appliedTemplateData){
            appliedTemplates.Add(row.Type);
        }
        
        selectQueryString = "SELECT * FROM ServiceAreas LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID WHERE ServiceAreas.ID="+selectedID; 
        var SAData = db.Query(selectQueryString);
        
        selectQueryString = "SELECT * FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE isParent=1 AND Parent="+selectedID; 
        var siblingData = db.Query(selectQueryString);

        <style>
            
            #new {
                border: 2px solid rgba(134, 123, 119,0.5);
                border-radius: 5px;
            }

            #weightings {
                width: 200px;
                height: 160px;
                border: 2px solid #aa191e;
                border-radius: 5px;
                overflow: auto;
                display: inline-block;
            }
            
            #images {
                width: 200px;
                display: inline;
            }
        
        </style>

        <script> //Replaces the overlay with the return from a refresh with form data
        
            function getVal(input) {
                val=$(input).val();
                
                if(val==""){
                    placeholder=$(input).attr("placeholder");
                    return parseFloat(placeholder.substring(0,placeholder.length-1));
                } else if(val[val.length-1]=='%') {
                    return parseFloat(val.substring(0,val.length-1));
                } else {
                    return parseFloat(val);
                }
            }
            
            function equalizeWeightings(){
                var weightings=$(".weighting");
                
                weightings.val(Math.round(100/weightings.length * 100) / 100);
                var tot=0;
                for(i=0;i<weightings.length;i++){
                    tot+=parseFloat(weightings.eq(i).val());
                }
                weightings.last().val(parseFloat(weightings.last().val())+parseFloat(100-tot));
                checkWeightings();
            }
            
            function uploadImages(data1){
                var imagedata = new FormData();
                var files = $("#images").get(0).files;
                if (files.length > 0) {
                    imagedata.append("numPhotos", files.length);
                    imagedata.append("RecipientType", "kpa");
                    
                    for(var i=0;i<files.length;i++){
                        imagedata.append("image"+i, files[i]);
                    }
                    
                    $.ajax({
                        url: "/media/uploadImage.cshtml",
                        type:"POST",
                        processData: false,
                        contentType: false,
                        data: imagedata,
                        success: function (response) {
                            $(".modal-content").html(data1);
                        },
                        error: function (er) {
                            $(".modal-content").html(data1);
                            alert("Error Uploading Images");
                        }

                    });
                } else {
                    $(".modal-content").html(data1);
                }
            }
            
            $(function () {
                $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Add Parent KPA</button>');
                $(".modal-title").html("New Parent KPA");
                $("#Submit").click(function () {
                    if(weightingCount()==100){
                        var data = {type: $("#type").val(), parent: $("#parent").val(), weighting: getVal($("#new").children("input"))};
    
                        weightings=$("#weightings").children("div").children("input");
                        for(var i=0;i<weightings.length;i++){
                            if($(weightings[i]).parent().attr('id')!="new"){
                                data[$(weightings[i]).parent().attr('id')]=getVal(weightings[i])/100;
                            }
                        }
    
                        console.log(data);
    
                        $.post("ajax/newPKPA.cshtml", data)
                        .done(function (data) {
                            uploadImages(data);
                        }).fail(function(xhr, textStatus, errorThrown) {
                            $(".modal-content").html(xhr.responseText);
                        });
                    } else {
                        alert("Please ensure weightings add up to 100%");
                    }
                });
            });
        </script>
        
        //The form.
        <div style="position: relative">
            
            Service Area:<br><select id="parent" disabled>
            @foreach(var row in SAData) {
                <option value="@row.ID">@row.Name</option>
            }</select><br><br>
            
            Type:<br><select id="type">
            @foreach(var row in templateData) {
                if(!appliedTemplates.Contains(row.ID)){
                    <option value="@row.ID">@row.Name</option>
                }
            }</select>  <button onclick="showOverlay('/ajax/newPKPATemplate.cshtml', @Request.QueryString["selectedID"])" class="btn btn-default newPKPATemplate">New Type</button><br><br>
            
            Store Weightings: <button onclick="equalizeWeightings()">Equalise</button><br> 
            <div id="weightings">
                @foreach(var row in siblingData) {
                    <div id=@row.ID class="pill input-group">
                        <span class="weightingName input-group-addon" id="basic-addon1">@row.Name</span>
                        <input type="text" class="form-control weighting" placeholder="@(row.Weighting*100)%" aria-describedby="basic-addon1">
                    </div>
                }
                <div id="new" class="pill input-group">
                    <span class="weightingName input-group-addon" id="basic-addon1"></span>
                    <input type="text" class="form-control weighting" placeholder="0%" aria-describedby="basic-addon1">
                </div>
            </div><br><br>
            KPA images: <input id="images" type="file" accept="image/x-png, image/jpeg" multiple>
        </div>
        
        <script>
                $(function () {
                    updateWeightingName();
                    checkWeightings();
                });
        
                $("#parent").val("@Request.QueryString["selectedID"]");
                
                $("#type").change(updateWeightingName);
                
                function updateWeightingName(){
                    $("#new").children("span").html($("#type option:selected").text());
                }
                
                function weightingCount(){
                    var children=$("#weightings").children("div").children("input");
                    var count=0;
                    for(var i=0;i<children.length;i++){
                        count+=getVal(children[i]);
                    }
                    
                    return count;
                }
                
                function checkWeightings(){
                    var count=weightingCount();
                    
                    if(count!=100) {
                        $('#new').css("border", "2px solid #aa191e");
                    } else {
                        $('#new').css("border", "2px solid rgba(134, 123, 119,0.5)");
                    }
                }
                
                $("input").keyup(function() {
                    checkWeightings();
                });
                
        </script>
        
    }
}