﻿@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    if (IsPost) { //If form data is filled in
        string name = Request["name"]; 
        string location = Request["location"];
        string description = Request["description"]; 

        //connect to db and construct query with form data
        var db = Database.Open("eScorecard");
        var selectQueryString = "INSERT INTO Regions (Name, Location, Description) VALUES ('"+name+"','"+location+"','"+description+"')"; 

        //execute query
        db.Query(selectQueryString);

        //return confirmation
        <p>New Region added</p>
        <script>
            $(".modal-title").html("New Region");
            refreshTree();
        </script>
        
    }
    else //no form data is filled in
    {

        <script> //Replaces the overlay with the return from a refresh with form data
            $(function () {
                $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Add Region</button>');
                $(".modal-title").html("Create Region");
                $("#Submit").click(function () {
                    var data = {name: $("#name").val(), location: $("#location").val(), description: $("#description").val()};
                    $.post("ajax/newRegion.cshtml", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            });
        </script>
        
        //The form.
        <div>
            Name: <br><input type=text id="name"></input><br>
            Head Office Street Address: <br><input type="text" id="location"></input><br>
			Description: <br>
            <textarea style="max-height:300px;max-width:300px;" id="description"></textarea><br>
        </div>
    }
}

