﻿
@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    if (IsPost) { //If form data is filled in
        string Name = Request["name"]; 
        string Super = Request["super"];
        string Region = Request["region"];
        string Address = Request["address"];
        string ContactNumber = Request["number"];
        string StoreNumber = Request["storenumber"];
        string Email = Request["email"];

        //connect to db and construct query with form data
        var db = Database.Open("eScorecard");
        var selectQueryString = "INSERT INTO Stores (Name, Super, Region, Address, ContactNumber, StoreNumber, Email) VALUES ('"+Name+"', "+Super+", "+Region+", '"+Address+"', '"+ContactNumber+"', '"+StoreNumber+"','"+Email+"')"; 

        //execute query
        db.Query(selectQueryString);

        //return confirmation
        <p>New Store added</p>
        
        <script>
            $(".modal-title").html("New Store");
            refreshTree();
        </script>
        
    }
    else //no form data is filled in
    {
        <script> //Replaces the overlay with the return from a refresh with form data
            $(function () {
                $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Create Store</button>');
                $(".modal-title").html("Add Store");
                $(function () {
                    $("#Submit").click(function () {
                        var data = {name: $("#name").val(), address: $("#address").val(), number: $("#number").val(), super: $("#super").val(), region: $("#region").val(), storenumber: $("#storenumber").val(), email: $("#email").val()};
                        $.post("/ajax/newStore.cshtml", data)
                        .done(function (data) {
                            $(".modal-content").html(data);
                        });
                    });
                    
                    $("#region").val("@Request.QueryString["selectedID"]");
                });
            });
        </script>
        
        //connects to the eScorecard db
        var db = Database.Open("eScorecard");
        var sql1 = "SELECT * FROM Employees";
        var sql2 = "SELECT * FROM Regions";

        //The form.
        <div>
            Name: <br><input type=text id="name"></input><br>
            Address: <br><input type=text id="address"></input><br>
            Email Address: <br><input type=text id="email"></input><br>
            Store Number: <br><input type=text id="storenumber"></input><br>
            Contact Number: <br><input type=text id="number"></input><br><br>
            Manager:<br><select id="super">
            @foreach(var row in db.Query(sql1)) {
                <option value="@row.ID">@row.FirstName @row.LastName</option>
            }</select><br><br>
            
            Region:<br><select id="region">
            @foreach(var row in db.Query(sql2)) {
                <option value="@row.ID">@row.Name</option>
            }
            </select><br><br>
        </div>
    }
}

