@{
    Layout="~/Layouts/PopUpLayout.cshtml";
    if (IsPost) { //If form data is filled in
        string Name = Request["name"]; 
        string Policy = Request["policy"]; 

        //connect to db and construct query with form data
        var db = Database.Open("eScorecard");
        var selectQueryString = "INSERT INTO ServiceAreaTemplates (Name, Policy) VALUES ('"+Name+"','"+Policy+"')"; 

        //execute query
        db.Query(selectQueryString);
        
        var sql="SELECT IDENT_CURRENT('ServiceAreaTemplates') AS ID";
		var saID=db.Query(sql);

        //return confirmation
        <p>New Service Area Type added.</p>
        
        <script>
            $(".modal-title").html("New Service Area Type");
            window.setTimeout(function (){window.open("/setupSATemplate.cshtml?ID="+@saID.First().ID, '_blank');},500);
        </script>
        
        
    }
    else //no form data is filled in
    {

        <script> //Submits the new SA type
            $(function () {
                $(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Add Type</button>');
                $(".modal-title").html("New Service Area Type");
                $("#Submit").click(function () {
                    var data = {name: $("#name").val(), policy: $("#description").val()};
                    $.post("ajax/newSATemplate.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            });
        </script>
        
        //The form.
        <div style="position: relative">
            Name: <br><input type=text id="name"></input><br>
            Policy: <br>
            <textarea style="max-height:300px;max-width:300px;" id="description"></textarea><br><br>
        </div>
    }
}

