@{
	Layout="~/Layouts/PopUpLayout.cshtml";
	if (IsPost) {
		string DateTime = Request["datetime"];
		string AuditTemplate = Request["audit"];
		string Store = Request["store"];
		string Auditor = Request["auditor"];
		
		string[] datesplit = DateTime.Split('-');
		string[] yeartimesplit = datesplit[2].Split(' ');
		
		var db = Database.Open("eScorecard");
		
		db.Query("INSERT INTO Audits (DateScheduled, Type, Super, Store) VALUES ('"+yeartimesplit[0]+"-"+datesplit[1]+"-"+datesplit[0]+" "+yeartimesplit[1]+":00',"+AuditTemplate+","+Auditor+","+Store+")");
		
		<span>Audit Scheduled.</span>
		
		<script>
			$(".modal-title").html("Schedule Audit");
			refreshEvents();
		</script>
		
	} else {
		var db = Database.Open("eScorecard");
	
		var selectQueryString = "SELECT ID, Name FROM AuditTemplates WHERE isFollowUp=0"; 
		var AuditTemplates=db.Query(selectQueryString);
	    
	    selectQueryString = "SELECT Stores.ID, Stores.Name, Regions.Name as rName FROM Stores LEFT JOIN Regions ON Stores.Region=Regions.ID"; 
		var Stores=db.Query(selectQueryString);
	    
	    selectQueryString = "SELECT Employees.ID, Employees.FirstName, Employees.LastName, Positions.Title as Title FROM Employees LEFT JOIN Positions ON Employees.Position=Positions.ID"; 
		var Employees=db.Query(selectQueryString);

		<div>
		
		Select Time and Date:<br>
        <div class=datetimewrapper>
            <div class="input-group dategroup">
                <input class="form-control hasDatepicker" id="datetime" size="16" type="text" value="15-06-2015" readonly="">
                <span class="input-group-addon glyphicon glyphicon-pencil" onclick="$('#datetime').datetimepicker('show')" id="basic-addon1"></span>
            </div>
        </div><br><br>
        
		
		Select Audit Type:<br>
		<select id="AuditTemplate">
			@foreach(var row in AuditTemplates){
				<option value=@row.ID>@row.Name</option>
			}
		</select> <button onclick="window.open('/createAudit.cshtml', '_blank');" class="btn btn-default newAuditTemplate">New Type</button><br><br>
		
		Select Store:<br>
		<select id="Store">
			@foreach(var row in Stores){
				<option value=@row.ID>@row.Name - @row.rName</option>
			}
		</select><br><br>
		
		Select Auditor:<br>
		<select id="Auditor">
		    @foreach(var row in Employees){
				<option value=@row.ID>@row.FirstName @row.LastName - @row.Title</option>
			}
		</select><br><br>
		
		<script>
		    var currentdate = new Date();
		    
		    $("#datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii'});
		    $("#datetime")[0].value=currentdate.getDate() + "-"+(currentdate.getMonth()+1) 
		    + "-" + currentdate.getFullYear() + " 08:00";
			$(function () {
   				$(".modal-footer").append('<button class="SubmitPopUp btn btn-default" id="Submit">Schedule Audit</button>');
    			$(".modal-title").html("Schedule Audit");
				$("#Submit").click(function () {
	                	var data = {datetime: $("#datetime").val(), audit: $("#AuditTemplate").val(), store: $("#Store").val(), auditor: $("#Auditor").val()};
    	            $.post("/ajax/scheduleAudit.cshtml", data)
        	        .done(function (data) {
            	        $(".modal-content").html(data);
                	});
            	});
			});
		</script>
		</div>
	}
}