﻿<h3>User Settings</h3>
<div class="list-group">
	<a href="#" class="list-group-item">Change Username<span class="glyphicon glyphicon-menu-right" style="float:right"></span></a>
	<a href="#" class="list-group-item">Change Password<span class="glyphicon glyphicon-menu-right" style="float:right"></span></a>
	<a href="#" class="list-group-item">Change Profile Picture<span class="glyphicon glyphicon-menu-right" style="float:right"></span></a>
</div>
