@{
    var dirs=Directory.EnumerateDirectories(Server.MapPath("~/media/"));
}
<span>test</span>
@foreach(var dir in dirs){
    var files=Directory.EnumerateFiles(dir);
    foreach(var file in files){
        if(file.Split('.')[1]!="gitkeep"){
            <span>@file</span>
            File.Delete(file);
        }
    }
}