@{
    
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);
    
    Layout="~/Layouts/PopUpLayout.cshtml";
    
    if (CurrentUser.getAccountType()==1) {
        if (IsPost) {
            string FirstName = Request["firstname"];
            string LastName = Request["lastname"];
            int? Store;
            if(Request["store"]=="None"){
                Store=null;
            } else {
                Store=Int32.Parse(Request["store"]);
            }
            string Number = Request["number"];
            string IDnum = Request["idnum"];
            string Email = Request["email"];
            string Username = Request["username"];
            string Password = Request["password"];
            string EmployeeNumber = Request["employeenumber"];
            
            EmployeeC Employee = new EmployeeC(Int32.Parse(Request.QueryString["selectedID"]));
            
            int numErrors=0; 
            
            numErrors+=Employee.setFirstName(FirstName);
            numErrors+=Employee.setLastName(LastName);
            numErrors+=Employee.setStore(Store);
            numErrors+=Employee.setContactNumber(Number);
            numErrors+=Employee.setIDNumber(IDnum);
            numErrors+=Employee.setEmail(Email);
            numErrors+=Employee.setUsername(Username);
            if(Password!="password"){
                numErrors+=Employee.setPassword(Password);
            }
            numErrors+=Employee.setEmployeeNumber(EmployeeNumber);
            
            if(numErrors==0){
                Employee.saveChanges();
                <span>Changes saved.</span>
                
                <script>
                    refreshTree();
                </script>
            } else {
                <span>@numErrors error(s) occured.</span>
            }
            
            
        }
        else {
            
            var StoreGen = new StoreGenerator();
            var Stores=StoreGen.genAll();
            
            EmployeeC Employee=new EmployeeC(Int32.Parse(Request.QueryString["selectedID"]));

            <script>
                $(function () {
                    $(".modal-title").html("Edit Employee");
                });
            </script>

            <div>
                <b>eScoreCard ID: </b> @Employee.getID()<br>
                <b>Employee Number: </b> <input id=employeenumber value="@Employee.getEmployeeNumber()"><br>
                <b>First Name: </b> <input id=FirstName value="@Employee.getFirstName()"><br>
                <b>Last Name: </b> <input id=LastName value="@Employee.getLastName()"><br>
                <b>National ID Number: <br><input type=text id="IDnum"></input><br>
                <b>Position: </b>@Employee.getPosition().getTitle()<br><br>
                
                <b>Username: </b> <input id=Username value="@Employee.getUsername()"><br>
                <b>Password: </b> <input id=Password type=password value="password"><br>
                <b>Store: </b> <select id=Store>
                    <option value=None>None</option>
                    @foreach(StoreC store in Stores){
                        if(store.getID()==Employee.getStoreID()){
                            <option value=@store.getID() selected>@store.getName()</option>
                        } else {
                            <option value=@store.getID()>@store.getName()</option>
                        }
                    }
                </select><br>
                <b>Supervisor: </b> @Employee.getSupervisor().getFullName()<br>
                <b>Permission Type: </b> @Employee.getPosition().getAccountTypeString()<br><br>
                
                <b>Contact Number: </b> <input id=Number value="@Employee.getContactNumber()"><br>
                <b>Email: </b> <input id=Email value="@Employee.getEmail()">
            </div>

            <script>
                $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Submit Changes</button>');
                
                $(function () {
                    
                    $(".SubmitPopUp").click(function () {
                        var data = {firstname: $("#FirstName").val(), lastname: $("#LastName").val(), store: $("#Store").val(), idnum: $("#IDnum").val(), number: $("#Number").val(), email: $("#Email").val(), username: $("#Username").val(), password: $("#Password").val(), employeenumber: $("#employeenumber").val()};
                    
                        console.log(data);
                        
                        $.post("ajax/modify/modifyEmployee.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                        .done(function (data) {
                            $(".modal-content").html(data);
                        });
                    });
                });
            </script>
        }
    } else {
        <span>You are not authorized to edit Employees</span>
    }
}