@{var db = Database.Open("eScorecard");
	
	var selectQueryString = "SELECT * FROM AuditTemplates"; 
	var AuditData = db.Query(selectQueryString);

	<style>
	
		.form-control {
			min-width: 62px;
			height: 35px;
		}

		.input-group-addon {
			max-width: 130px;
			min-width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.input-group {
			width: 120px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 2px;
		}

		.list {
			width: 200px;
			height: 160px;
			border: 2px solid #aa191e;
			border-radius: 5px;
			overflow: auto;
			display: inline-block;
		}
	
	</style>
	
	//The form.
	<div style="position: relative">
		@RenderPage("~/ajax/close.cshtml")
		<h3 style="padding-bottom:30px">Audit Templates</h3>
		
		Audit Templates:<br>
		<div class="list">
			@foreach(var row in AuditData) {
				<div id=@row.ID class="input-group">
					<span class="input-group-addon" id="basic-addon1">@row.Name</span>
				</div>
			}<br><br>
		
		<button id="done">Done</button>
	</div>
}