@{
	Layout="~/Layouts/PopUpLayout.cshtml";
    
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);
    
    if (CurrentUser.getAccountType()==1) {
    
        if (IsPost) {
            <script>
                $(function () {
                    $(".modal-title").html("Edit Store");
                });
                refreshTree();
            </script>
            
            StoreC Store=new StoreC(Int32.Parse(Request.QueryString["selectedID"]));
            
            int errorNum=0;
            errorNum+=Store.setName(Request["name"]);
            errorNum+=Store.setAddress(Request["address"]);
            errorNum+=Store.setContactNumber(Request["number"]);
            errorNum+=Store.setSuper(Int32.Parse(Request["super"]));
            errorNum+=Store.setRegion(Int32.Parse(Request["region"]));
            errorNum+=Store.setStoreNumber(Request["storenumber"]);
            errorNum+=Store.setEmail(Request["email"]);
            
            if(errorNum==0){
                Store.saveChanges();
                <span>Changes Saved to @Store.getName()</span>
            } else {
                <span>@errorNum error(s) occured</span>
            }
        } else {
            EmployeeGenerator empgen = new EmployeeGenerator();
            RegionGenerator reggen = new RegionGenerator();
            StoreC Store=new StoreC(Int32.Parse(Request.QueryString["selectedID"]));
        
            <script>
                $(function () {
                    $(".modal-title").html("Edit Store");
                });
            </script>

            <div>
                <b>eScorecard ID: </b>@Store.getID()<br>
                <b>Name: </b><input value="@Store.getName()" type=text id="name"></input><br>
                <b>Address: </b><input value="@Store.getAddress()" type=text id="address"></input><br>
                <b>Email Address: </b><input value="@Store.getEmail()" type=text id="email"></input><br>
                <b>Store Number: </b><input value="@Store.getStoreNumber()" type=text id="storenumber"></input><br>
                <b>Contact Number: </b><input value="@Store.getContactNumber()" type=text id="number"></input><br><br>
                <b>Manager: </b><select id="super">
                @foreach(EmployeeC Employee in empgen.genAll()) {
                    if(@Store.getSuper().getID()==Employee.getID()){
                        <option value="@Employee.getID()" selected>@Employee.getFullName()</option>
                    } else {
                        <option value="@Employee.getID()">@Employee.getFullName()</option>
                    }
                }</select><br>
                
                <b>Region:</b><select id="region">
                @foreach(RegionC Region in reggen.genAll()) {
                    if(Region.getID()==Store.getRegion().getID()){
                        <option value="@Region.getID()" selected>@Region.getName()</option>
                    } else {
                        <option value="@Region.getID()">@Region.getName()</option>
                    }
                }
                </select><br><br>
            </div>

        
            <script>
                $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Submit Changes</button>');
                
                $(".SubmitPopUp").click(function () {
                    var data = {name: $("#name").val(), address: $("#address").val(), number: $("#number").val(), super: $("#super").val(), region: $("#region").val(), storenumber: $("#storenumber").val(), email: $("#email").val()};
                    $.post("/ajax/modify/modifyStore.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            </script>
        }
    } else {
        <span>You are not authorized to edit Stores</span>
    }
}