@{
	Layout="~/Layouts/PopUpLayout.cshtml";
    
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);
    
    if (CurrentUser.getAccountType()==1) {
    
        if (IsPost) {
            <script>
                $(function () {
                    $(".modal-title").html("Edit Region");
                });
                refreshTree();
            </script>
            
            RegionC Region=new RegionC(Int32.Parse(Request.QueryString["selectedID"]));
            
            int errorNum=0;
            errorNum+=Region.setName(Request["Name"]);
            errorNum+=Region.setLocation(Request["Location"]);
            errorNum+=Region.setDescription(Request["Description"]);
            
            if(errorNum==0){
                Region.saveChanges();
                <span>Changes Saved to @Region.getName()</span>
            } else {
                <span>@errorNum error(s) occured</span>
            }
        } else {
            RegionC Region=new RegionC(Int32.Parse(Request.QueryString["selectedID"]));
        
            <script>
                $(function () {
                    $(".modal-title").html("Edit Region");
                });
            </script>

            <div>
                <b>Region ID:</b> @Region.getID()<br>
                <b>Name:</b> <input id=Name value="@Region.getName()"><br>
                <b>Head Office Street Address:</b> <input id=Location value="@Region.getLocation()"><br>
                <b>Description:</b><br>
                <textarea id=Description>@Region.getDescription()</textarea><br>
            </div>

        
            <script>
                $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Submit Changes</button>');
                
                $(".SubmitPopUp").click(function () {
                    var data = {Name: $("#Name").val(), Location: $("#Location").val(), Description: $("#Description").val()};
                    
                    console.log(data);
                    
                    $.post("ajax/modify/modifyRegion.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            </script>
        }
    } else {
        <span>You are not authorized to edit Regions</span>
    }
}