@{
	Layout="~/Layouts/PopUpLayout.cshtml";
    
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);
    
    if (CurrentUser.getAccountType()==1) {
    
        if (IsPost) {
            <script>
                $(function () {
                    $(".modal-title").html("Edit Service Area Template");
                });
                refreshTree();
            </script>
            
            PKPATemplateC PKPATemplate=new PKPATemplateC(Int32.Parse(Request.QueryString["selectedID"]));
            
            int errorNum=0;
            errorNum+=PKPATemplate.setName(Request["Name"]);
            errorNum+=PKPATemplate.setPolicy(Request["Policy"]);
            
            if(errorNum==0){
                PKPATemplate.saveChanges();
                <span>Changes Saved to @PKPATemplate.getName()</span>
            } else {
                <span>@errorNum error(s) occured</span>
            }
        } else {
            
            PositionGenerator posgen = new PositionGenerator();
            PositionC[] Supers=posgen.genAll();
            
            PKPATemplateC PKPATemplate=new PKPATemplateC(Int32.Parse(Request.QueryString["selectedID"]));
        
            <script>
                $(function () {
                    $(".modal-title").html("Edit Service Area Template");
                });
            </script>

            <div>
                <b>Name:</b> <input id=Name value="@PKPATemplate.getName()"><br>
                <b>Policy: </b><br>
                <textarea id=Policy>@PKPATemplate.getPolicy()</textarea><br>
            </div>
            
            <b>Supervising Positions: </b><br>
            <select id=supervisors multiple>
                @foreach(var super in Supers){
                    <option val=@super.getID()>@super.getTitle()</option>
                }
            </select>
        
            <script>
                $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Submit Changes</button>');
                
                $(".SubmitPopUp").click(function () {
                    var data = {Name: $("#Name").val(), Policy: $("#Policy").val()};
                    
                    console.log(data);
                    
                    $.post("ajax/modify/modifyPKPATemplate.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            </script>
        }
    } else {
        <span>You are not authorized to edit Parent KPAs</span>
    }
}