@{
	var db = Database.Open("eScorecard");
	
	var selectQueryString = "UPDATE KPAs SET Weighting="+PageData[1]+" WHERE ID="+PageData[0]; 
	db.Query(selectQueryString);
	
	selectQueryString = "SELECT Name FROM KPAs LEFT JOIN KPATemplates ON KPAs.Type=KPATemplates.ID WHERE KPAs.ID="+PageData[0]; 
	var changed=db.Query(selectQueryString);
	
	<span>Updated @changed[0].Name to @(Convert.ToString(Convert.ToDouble(PageData[1])*100))%</span><br>
}
