@{
	Layout="~/Layouts/PopUpLayout.cshtml";
    
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);
    
    if (CurrentUser.getAccountType()==1) {
    
        if (IsPost) {
            <script>
                $(function () {
                    $(".modal-title").html("Edit Service Area Template");
                });
                refreshTree();
            </script>
            
            SATemplateC SATemplate=new SATemplateC(Int32.Parse(Request.QueryString["selectedID"]));
            
            int errorNum=0;
            errorNum+=SATemplate.setName(Request["Name"]);
            errorNum+=SATemplate.setPolicy(Request["Policy"]);
            
            if(errorNum==0){
                SATemplate.saveChanges();
                <span>Changes Saved to @SATemplate.getName()</span>
            } else {
                <span>@errorNum error(s) occured</span>
            }
        } else {
            SATemplateC SATemplate=new SATemplateC(Int32.Parse(Request.QueryString["selectedID"]));
        
            <script>
                $(function () {
                    $(".modal-title").html("Edit Service Area Template");
                });
            </script>

            <div>
                <b>Name:</b> <input id=Name value="@SATemplate.getName()"><br>
                <b>Policy: </b><br>
                <textarea id=Policy>@SATemplate.getPolicy()</textarea><br>
            </div>

        
            <script>
                $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Submit Changes</button>');
                
                $(".SubmitPopUp").click(function () {
                    var data = {Name: $("#Name").val(), Policy: $("#Policy").val()};
                    
                    console.log(data);
                    
                    $.post("ajax/modify/modifyServiceAreaTemplate.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            </script>
        }
    } else {
        <span>You are not authorized to edit Service Areas</span>
    }
}