@{
	var db = Database.Open("eScorecard");
	
	var selectQueryString = "UPDATE ServiceAreas SET Weighting="+PageData[1]+" WHERE ID="+PageData[0]; 
	db.Query(selectQueryString);
	
	selectQueryString = "SELECT Name FROM ServiceAreas LEFT JOIN ServiceAreaTemplates ON ServiceAreas.Type=ServiceAreaTemplates.ID WHERE ServiceAreas.ID="+PageData[0]; 
	var changed=db.Query(selectQueryString);
	
	<span>Updated @changed[0].Name to @(Convert.ToString(Convert.ToDouble(PageData[1])*100))%</span><br>
}
