@{
	Layout="~/Layouts/PopUpLayout.cshtml";
    
    EmployeeC CurrentUser = new EmployeeC(Session["username"] as string);
    
    if (CurrentUser.getAccountType()==1) {
    
        if (IsPost) {
            <script>
                $(function () {
                    $(".modal-title").html("Edit Position");
                });
                refreshTree();
            </script>
            
            PositionC Position=new PositionC(Int32.Parse(Request.QueryString["selectedID"]));
            
            int errorNum=0;
            errorNum+=Position.setTitle(Request["Title"]);
            errorNum+=Position.setDescription(Request["Description"]);
            errorNum+=Position.setAccountType(Int32.Parse(Request["AccountType"]));
            
            if(errorNum==0){
                Position.saveChanges();
                <span>Changes Saved to @Position.getTitle()</span>
            } else {
                <span>@errorNum error(s) occured</span>
            }
        } else {
            PositionC Position=new PositionC(Int32.Parse(Request.QueryString["selectedID"]));
        
            <script>
                $(function () {
                    $(".modal-title").html("Edit Position");
                });
            </script>

            <div>
                <b>Position ID:</b> @Position.getID()<br>
                <b>Title:</b> <input id=title value="@Position.getTitle()"><br>
                <b>Supervisor Position:</b> @Position.getSuper().getTitle()<br>
                <b>Description:</b><br>
                <textarea id=description>@Position.getDescription()</textarea><br>
                <b>Permission Type: </b>
                <select id=accounttype>
                    @if(Position.getAccountType()==1){
                        <option value=1 selected>Super Admin</option>
                    } else {
                        <option value=1>Super Admin</option>
                    }
                    @if(Position.getAccountType()==2){
                        <option value=2 selected>User Admin</option>
                    } else {
                        <option value=2>User Admin</option>
                    }
                    @if(Position.getAccountType()==3){
                        <option value=3 selected>Standard User</option>
                    } else {
                        <option value=3>Standard User</option>
                    }
                </select>
            </div>

        
            <script>
                $(".modal-footer").append('<button type="button" class="btn btn-default SubmitPopUp">Submit Changes</button>');
                
                $(".SubmitPopUp").click(function () {
                    var data = {Title: $("#title").val(), Description: $("#description").val(), AccountType: $("#accounttype").val()};
                    
                    console.log(data);
                    
                    $.post("ajax/modify/modifyPosition.cshtml?selectedID=@Request.QueryString["selectedID"]", data)
                    .done(function (data) {
                        $(".modal-content").html(data);
                    });
                });
            </script>
        }
    } else {
        <span>You are not authorized to edit Positions</span>
    }
}