<div class="modal-header">
	<button type="button" class="close">&times;</button>
	<h3 class="modal-title"></h3>
</div>
<div class="modal-body">
	@RenderBody()
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default closebtn">Close</button>
</div>
<div class=progressBar></div>