﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="~/shared/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/shared/DateTimePicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="~/styles/PopUps.css">
<script src="~/shared/jquery/jquery-1.11.2.min.js"></script>
<script src="~/shared/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script src="~/shared/DateTimePicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/shared/scripts/PopUps.js"></script>
<script src="~/shared/scripts/Modals.js"></script>