@{ //Creates the menus and trees
    List<Tab> tabheads = new List<Tab>();
    List<TabBody> bodies = new List<TabBody>();
    Tabs tabs;

    var db = Database.Open("eScorecard");
    var selectQueryString = "SELECT ID, Position FROM Employees WHERE Username='"+Session["username"]+"'";

    var currentUser=db.Query(selectQueryString);
    
    PositionsTree positions = new PositionsTree(currentUser.ElementAt(0).Position);
    EmployeesTree employees = new EmployeesTree(currentUser.ElementAt(0).ID);
    OperatingTree stores = new OperatingTree();
    AuditPage audits = new AuditPage();

    tabheads.Add(new Tab("nav", "positions", "<b>Positions</b>", "", ""));
    tabheads.Add(new Tab("nav", "employees", "<b>Staff</b>", "", ""));
    tabheads.Add(new Tab("nav", "stores", "<b>Regions</b>", "", ""));
    tabheads.Add(new Tab("nav", "audits", "<b>Audits</b>", "", ""));

    bodies.Add(new TabBody("positions", positions.GetHtml(), "margin-top: 20px"));
    bodies.Add(new TabBody("employees", employees.GetHtml(), "margin-top: 20px"));
    bodies.Add(new TabBody("stores", stores.GetHtml(), "margin-top: 20px"));
    bodies.Add(new TabBody("audits", audits.GetHtml(), "margin-top: 20px; position: relative; left: 0px; height: calc(100% - 60px);"));

    tabs=new Tabs(tabheads, bodies, "", "", "mainTree");
}

@Html.Raw(tabs.GetHtml())