.EventsBreakDown {
	margin: 0px;
	height: 100%;
	overflow-x: hidden;
}

.eventList {
	margin: 0px;
    padding: 0px;
}

@media (orientation:portrait) {
	div {
	}
}

@media (orientation:landscape) {
	.EventsBreakDown{
		width: 50%;
	}
	
	.newAuditSpan {
		left: 50%;
		width: 50%;
		position: absolute;
		top: 10px;
	}
	
	.newAudit {
		width: 100%;
		height: 40px;
	}
}

.events{
	height: calc(100% - 75px);
	overflow: scroll;
    position: relative;
}

#eventsView {
    height: 100%;
    margin: 0px;
}

.eventsSelected {
    background-color: grey;
}

.grey {
    color: #545654;
    background-color: #D6D6D6;
    border-color: #BFBFBF;
}

.SubmitPopUp {
	float: left;
}

.modal{
	text-align: center;
}

#selectedDate {
    background-color: white;
}

.legendItem {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.legend {
    bottom: 0px;
    width: 100%;
    border-top: 1px solid black;
}