.header {
    margin-bottom: 10px;
    margin-left: 30px;
}

#name {
    width: 300px;
}

#saListwrapper {
    overflow: auto;
    display: inline-block;
    
    width: 100%;
    height: calc(100%);
    background-color: white;
}

.middle {
    display: inline;
    position: relative;
    left: calc(50% - 150px);
    width: 50%;
}

.SA, .PKPA, .CKPA {
    display: inline;
}

.addPKPA {
    display: inline;
}

.item {
    padding-top: 5px;
    padding-left: 8px;
}

body {
    background-color: #d9534f;
}

#name {
    background-color: rgba(237,113,109,1);
    border-color: rgba(237,113,109,1);
    padding-left: 5;
    border-radius: 5px;
}

#SAmenu {
    background-color: rgba(237,113,109,1);
    border-color: rgba(237,113,109,1);
}

#saList {
    width: 100%;
}

th {
    width: 50%;
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    border-right: 2px solid rgba(134, 123, 119,1);
    border-bottom: 2px solid rgba(134, 123, 119,1);
}

td {
    width: 50%;
    height: 30px;
    padding-left: 5px;
    border-right: 1px solid rgba(134, 123, 119,1);
}

tr {
    border-bottom: 1px solid rgba(134, 123, 119,1);
    max-height: 30px;
}

.addSA {
    background-color: rgb(219, 215, 214);
    border: 2px solid rgb(219, 215, 214);
}

.PKPA {
    padding-left: 25px;
}

.CKPA {
    padding-left: 50px;
}

.checkItem.PKPAcheck {
    margin-left: 25px;
}

.checkItem.CKPAcheck {
    margin-left: 50px;
}

tr:nth-child(even) {background-color: rgba(134, 123, 119,0.3)}

#layoutTable{
    width: 100%;
    height: 100%;
    border: None;
}

#headerTR, #headerTD{
    width: 100%;
    border: None;
    padding: 0 0 0 0;
}

#bodyTR, #bodyTD{
    width: 100%;
    height: 100%;
    border: None;
    padding: 0 0 0 0;
}

#bodyTD {
    border: 2px solid rgba(134, 123, 119,1);
}

#Submit {
    right: 25px;
    position: absolute;
    width: 150px;
    top: 30;
    font-size: 30;
    height: 60px;
    background-color: rgb(219, 215, 214);
    border: 2px solid rgb(219, 215, 214);
    border-radius: 3px;
}

.delete {    
    position: relative;
    float: right;
    padding-right: 5px;
    margin-top: 5px;
}

#reply {
    font-size: 20px;
}