#sidebar {
	width: 368px;
	height: 100%;
	float: left;
	position: absolute;
	left: -400px;
	overflow: hidden;
	background-color: #ffffff;
	z-index: 0;
}
		
#sidebar-button {
	outline: none;
	overflow: hidden;
	float: right;
	height: 100%;
	width: 44px;
	border-radius: 0;
}
		
#sidebar-content {
	width: calc(100% - 45px);
	height: 100%;
	display: block;
	float: left;
	background-color: #ffffff;
	text-align: center;
}
		
#content {
	left: 45px;
	position: fixed;
	height: 100%;
	width: calc(100% - 44px);
	z-index: -1;
	overflow: scroll;
}
		
#img-profile {
	border: solid 2px;
	border-radius: 100%;
	width: 40%;
	margin-top: 5%;
}
		
@media screen and (max-width: 368px) {
	#sidebar {
	width: 100%;
	}
}

#mainTree {
	height:100%;
}