form {
	margin: 0 auto;
	width: 90%;
	max-width: 300px;
	margin-top: 8%;
	text-align: center;
}
			
input, img {
	margin-bottom: 5%;
}
			
hr {
	border-color: #aa191e;
	opacity: 0.5;
}

body {
	color: #aa191e;
}

.logo {
    height: 45px;
}