.SubmitPopUp {
	float: left;
}

.modal{
	text-align: center;
}

.RangeInput {
    width: 50px;
}

.NoDesc {
    color: grey;
}

.progressBar {
    background-color: #d9534f;
    width: 0%;
    height: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.Image {
    max-width: 100%;
}

.dategroup {
    width: 150px;
}

.datetimegroup {
    width: 200px;
}

.input-group-addon {
    top: 0px;
}

.form-control.weighting {
    min-width: 62px;
    height: 35px;
}

.weightingName.input-group-addon {
    max-width: 130px;
    min-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pill.input-group {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

#datetime {
    width: 150px;
    background-color: white;
}

.form-control {
    background-color: white;
}

.datetimewrapper {
    display: inline-block;
}

#description {
    width: 300px;
    max-width: 100%;
    height: 200px;
}

#supervisors {
    width: 300px;
    max-width: 100%;
    display: inline-block;
}

#Units {
    width: 40px;
}

.Responsible {
    display: inline-block;
    width: 300px;
    height: 100px;
    max-width: 100%;
    border: 2px solid rgba(134, 123, 119,1);
}