body {
    font-family: Arial;
}

.CoverPage {
    width: 100%;
    text-align: center;
}

.left {
}

.right {
    width: 1.5cm;
    border-left: 1px solid #C1C1C1;
}

.SA {
    
}

.PKPA{
    padding-left: 25px;
}

.CKPA{
    padding-left: 50px;
}

.KPI {
    padding-left: 75px;
}

th, td {
    border-bottom: 1px solid #C1C1C1;
}

th, td {
    padding: 5px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}

tr {
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    -webkit-print-color-adjust: exact;
    }

.Complient, .nonComplient {
    float: right;
}

.ap, .comment{
    vertical-align: middle;
    width: 17px;
}

.apContainer, .commentContainer {
    display: block;
    margin-top: 0px;
    width: 420px;
}

.apWrapper, .commentWrapper {
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    vertical-align: middle;
}

th {
    -webkit-print-color-adjust: exact;
    background-color: #EC0000;
    font-size: 13px;
}

#prompt {
    width: 100%;
    height: 100%;
}

.Absolute-Center {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
}

.logo {
    width: 400px;
}

.acceptableRange {
    border-left: 1px solid #C1C1C1;
    width: 3cm;
}