.header {
    margin-bottom: 30px;
    margin-left: 30px;
}

#saListwrapper {
    overflow: auto;
    display: inline-block;
    
    width: 100%;
    height: calc(100%);
    background-color: white;
}

body {
    background-color: #d9534f;
}

#saList {
    width: 100%;
}

th {
    /*width: 50%;*/
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    border-right: 2px solid rgba(134, 123, 119,1);
    border-bottom: 2px solid rgba(134, 123, 119,1);
}

td {
    width: 50%;
    height: 30px;
    padding-left: 5px;
    border-right: 1px solid rgba(134, 123, 119,1);
}

tr {
    border-bottom: 1px solid rgba(134, 123, 119,1);
    max-height: 30px;
}

tr:nth-child(even) {background-color: rgba(134, 123, 119,0.3)}

#layoutTable{
    width: 100%;
    height: 100%;
    border: None;
}

#headerTR, #headerTD{
    width: 100%;
    border: None;
    padding: 0 0 0 0;
}

#bodyTR, #bodyTD{
    width: 100%;
    height: 100%;
    border: None;
    padding: 0 0 0 0;
}

#bodyTD {
    border: 2px solid rgba(134, 123, 119,1);
}

#Submit {
    right: 25px;
    position: absolute;
    width: 150px;
    top: 30px;
    font-size: 30;
    height: 60px;
    background-color: rgb(219, 215, 214);
    border: 2px solid rgb(219, 215, 214);
    border-radius: 3px;
}

.SA, .PKPA, .CKPA {
    display: inline;
}

.PKPA {
    padding-left: 25px;
}

.CKPA {
    padding-left: 50px;
}

.KPI {
    padding-left: 75px;
}

form {
    margin: 0px;
}

.value {
    width: 65px;
}

.SAtr:not(:first-child) {
    border-top: 2px solid black;
}

.PKPAtr:not(:first-child) {
    border-top: 1px solid black;
}

.commentArea {
    width: 100%;
    height: 300px;
}

.addComment {
    float: left;
}

.SubmitPopUp {
    float: left;
}

.descriptionWrapper, .description {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.NoDesc {
    color: grey;
}

.modal-body {
    text-align: center;
}

hr {
    border-top: 1px solid #AD9C9C;
}

.Noncon {
    color: #d9534f;
}

.Image {
    max-width: 100%;
}

.addInfoContent {
    display: none;
}

.right {
    right: 30px;
    top: 3px;
    position: absolute;
}

.header {
    position: relative;
}

.acceptable {
    color: green;
}

.unacceptable {
    color: #d9534f;
}

.pkpaScore {
    padding-left: 25px;
}

.ckpaScore {
    padding-left: 50px;
}

.kpiScore {
    padding-left: 75px;
}

.legendContent {
    display: none;
}

.legendul {
    width: 80%;
    display: inline-block;
}

.legend {
    float: right;
}

.addInfo {
    width: 40px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.comment {
    width: 40px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.print {
    
}

.menu {
    width: 100%;
}