/*Styling for the actual tab block*/
.tabheader {
    height:  40px;
    background-color: #FFFFFF;
    display: inline-block;
    
    padding: 0px;
    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid rgba(134, 123, 119,0.5);
    border-right: 1px solid rgba(255, 255, 255,0.5);
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    
    color: #aa191e;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    
    z-index: 2;
    position:  relative;
}

/*Styling for a tab body*/
.tabbody {
    padding-top: 10px;
}

/*Styling for the entire tabs widget container*/
.tabs {
    background-color: #FFFFFF;
    padding: 0px;
    padding: 0px;
    margin: 0px;
}

/*Styling for a selected tab*/
.selected {
    border-right: 1px solid rgba(134, 123, 119,0.5);
    border-top: 1px solid rgba(134, 123, 119,0.5);
    border-left: 1px solid rgba(134, 123, 119,0.5);
    border-bottom: 1px solid rgba(255, 255, 255,0.5);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/*styling for the container for the actual tabs*/
.headers {
    padding: 0px;
    margin: 0px;
    
    font-size: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
    position: relative;
}

/*styling for the cloak div that hides the scroll bar of the web browser*/
.scrollhider {
    height: 40px;
    width: 100%;
    
    overflow: hidden;
    
    position:  relative;
}

.lineextender {
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 100%;
    top: 0px;
    left: 0px;
    
    border-bottom: 1px solid rgba(134, 123, 119,0.5);
    z-index: 1;
}

/**/
body {
    overflow: hidden;
    cursor: pointer;        /*Fixes ios bug*/
}

.navArrowLeft {
    font-size: 20px;
    position: absolute;
    left: 10px;
    color: #aa191e;
    z-index: 3;
    margin-top: 8px;
}

.navArrowRight {
    font-size: 20px;
    position: absolute;
    right: 10px;
    color: #aa191e;
    z-index: 3;
    margin-top: 8px;
}